<% include ../partials/header %>

<section class="allReports">

<h2>All Reports</h2>

<table>
  <thead>
    <tr>
      <td>Date Created</td>
      <td>Date of Incident</td>
      <td>Submitted By</td>
      <td>Incident Location</td>
      <td>Incident Type</td>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>
<!-- <% reports.forEach( function(report){ %>
<%  }) %> -->

</section>

<% include ../partials/footer %>