<div class="container__flash">
    <% if (error && error.length > 0) { %>
      <div class="container--alert-failure">
        <h4 class="alert-message"> <%= error %> </h4>
      </div>
    <% } %>
    <% if (success && success.length > 0) { %>
      <div class="container--alert-success">
        <h4 class="alert-message"> <%= success %> </h4>
      </div>
    <% } %>
  </div>