
<footer>
  <div class="footerLinks">
    <div class="footer-logo-social">
      <div id="socialMediaFooter">
        <a href="https://twitter.com/DepartmentTruth" class="smcontainer">
          <img src="/icons/social-media-logos/svg/008-twitter.svg" class="socialMediaIcon">
        </a>
        <a href="https://www.youtube.com/channel/UC2DWMCqYOvHuFSkv556R3-w" class="smcontainer">
          <img src="/icons/social-media-logos/svg/001-youtube.svg" class="socialMediaIcon">
        </a>
        <a href="#" class="smcontainer">
          <img src="/icons/social-media-logos/svg/018-reddit.svg" class="socialMediaIcon">
        </a>
        <a href="https://medium.com/@us_department_of_truth" class="smcontainer">
          <img src="/icons/social-media-logos/svg/026-medium.svg" class="socialMediaIcon">
        </a>
        <a href="http://fb.me/usdepartmentoftruth" class="smcontainer">
          <img src="/icons/social-media-logos/svg/036-facebook.svg" class="socialMediaIcon">
        </a>
      </div>
    </div>
    <div class="footer-contact">
      <button id="closeFooterContact">
        <i class="far fa-times-circle"></i>
      </button>
      <ul>
        <li class="footerNavIcon">
          <button>Contact USDT</button>
        </li>
        <li class="footerNavShown"><a href="#">www.usdeptruth.com</a></li>
        <li class="footerNavShown"><a href="#">3253 Veracity Street SW, <br>Washington, DC 20554</a></li>
        <li class="footerNavShown"><a href="#">Phone: 1-888-487-3253</a></li>
        <li class="footerNavShown"><a href="#">TTY: 1-888-487-2543</a></li>
        <li class="footerNavShown"><a href="#">ASL Videophone: 1-844-382-5724</a></li>
        <li class="footerNavShown"><a href="#">Fax: 1-866-382-53222</a></li>
        <li class="footerNavShown"><a href="#">Contact Us</a></li>
        <li class="footerNavShown"><a href="#">Careers</a></li>
      </ul>
    </div>
    <div class="footer-about-site">
      <ul>
        <li class="footerNavIcon">
          <button>USDT Online Policies</button>
        </li>
        <li class="footerNavShown"><a href="#">Freedom of Information Act (FOIA)</a></li>
        <li class="footerNavShown"><a href="#">Privacy & Security Statement</a></li>
        <li class="footerNavShown"><a href="#">Disclaimers</a></li>
        <li class="footerNavShown"><a href="#">Important Website Policies & Notices</a></li>
        <li class="footerNavShown"><a href="#">Plug-Ins Used on usdeptruth.com</a></li>
        <li class="footerNavShown"><a href="#">Disability Rights & Accessibility Statement</a></li>
        <li class="footerNavShown"><a href="#">No Fear Act Data</a></li>
        <li class="footerNavShown"><a href="#">Digital Strategy</a></li>
        <li class="footerNavShown"><a href="#">Open Government Directive</a></li>
        <li class="footerNavShown"><a href="#">Plain Writing Act</a></li>
      </ul>
    </div>
    <div class="footer-dep-of-truth">
      <ul>
        <li class="footerNavIcon">
          <button>USDT Indices</button>
        </li>
        <li class="footerNavShown"><a href="#">About USDT</a></li>
        <li class="footerNavShown"><a href="#">Español</a></li>
        <li class="footerNavShown"><a href="#">Office of Secretary of Truth</a></li>
        <li class="footerNavShown"><a href="#">Subscribe to the USDT Newsletter</a></li>
        <li class="footerNavShown"><a href="#">Read the USDT Newsletter</a></li>
        <li class="footerNavShown"><a href="#">Read All Announcements</a></li>
        <li class="footerNavShown"><a href="#">Read All News Articles</a></li>
        <li class="footerNavShown"><a href="#">Policy Enforcement</a></li>
        <li class="footerNavShown"><a href="#">Media</a></li>
        <li class="footerNavShown"><a href="#">Offices</a></li>
        <li class="footerNavShown"><a href="#">A to Z Index</a></li>
      </ul>
    </div>
  </div>
  <div class='madeby'>Icons made by
    <a href="http://www.freepik.com/" title="Freepik">Freepik</a>
    from <a href="https://www.flaticon.com/" 		    title="Flaticon">www.flaticon.com</a>
    is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 		    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
    <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    <div>
        <p>&copy;Sartoriusrex 2018-2019</p>
    </div>
  </div>
  
</footer>

<script src="/main.js"></script>

</body>
</html>