
<footer>
  <div class="footerLinks">
    <div class="footer-logo-social">

    </div>
    <div class="footer-contact">
      <ul>
        <li><a href="#">www.usdeptruth.com</a></li>
        <li><a href="#">3253 Veracity Street SW, <br>Washington, DC 20554</a></li>
        <li><a href="#">Phone: 1-888-487-3253</a></li>
        <li><a href="#">TTY: 1-888-487-2543</a></li>
        <li><a href="#">ASL Videophone: 1-844-382-5724</a></li>
        <li><a href="#">Fax: 1-866-382-53222</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Careers</a></li>
      </ul>
    </div>
    <div class="footer-about-site">
      <ul>
        <li><a href="#">Freedom of Information Act (FOIA)</a></li>
        <li><a href="#">Privacy & Security Statement</a></li>
        <li><a href="#">Disclaimers</a></li>
        <li><a href="#">Important Website Policies & Notices</a></li>
        <li><a href="#">Plug-Ins Used on usdeptruth.com</a></li>
        <li><a href="#">Disability Rights & Accessibility Statement</a></li>
        <li><a href="#">No Fear Act Data</a></li>
        <li><a href="#">Digital Strategy</a></li>
        <li><a href="#">Open Government Directive</a></li>
        <li><a href="#">Plain Writing Act</a></li>
      </ul>
    </div>
    <div class="footer-dep-of-truth">
      <ul>
        <li><a href="#">About USDT</a></li>
        <li><a href="#">Español</a></li>
        <li><a href="#">Office of Secretary of Truth</a></li>
        <li><a href="#">Subscribe to the USDT Newsletter</a></li>
        <li><a href="#">Read the USDT Newsletter</a></li>
        <li><a href="#">Read All Announcements</a></li>
        <li><a href="#">Read All News Articles</a></li>
        <li><a href="#">Policy Enforcement</a></li>
        <li><a href="#">Media</a></li>
        <li><a href="#">Offices</a></li>
        <li><a href="#">A to Z Index</a></li>
      </ul>
    </div>
  </div>
  <div class='madeby'>Icons made by
    <a href="http://www.freepik.com/" title="Freepik">Freepik</a>
    from <a href="https://www.flaticon.com/" 		    title="Flaticon">www.flaticon.com</a>
    is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 		    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
  </div>
  
</footer>

<script src="/main.js"></script>

</body>
</html>