<div class="footer__social-media-container">
  <a href="https://twitter.com/DepartmentTruth" class="header__social-media-link">
    <img src="/icons/social-media-logos/svg/008-twitter.svg" class="socialMediaIcon">
  </a>
  <a href="https://www.youtube.com/channel/UC2DWMCqYOvHuFSkv556R3-w" class="header__social-media-link">
    <img src="/icons/social-media-logos/svg/001-youtube.svg" class="socialMediaIcon">
  </a>
  <a href="#" class="header__social-media-link">
    <img src="/icons/social-media-logos/svg/018-reddit.svg" class="socialMediaIcon">
  </a>
  <a href="https://medium.com/@us_department_of_truth" class="header__social-media-link">
    <img src="/icons/social-media-logos/svg/026-medium.svg" class="socialMediaIcon">
  </a>
  <a href="http://fb.me/usdepartmentoftruth" class="header__social-media-link">
    <img src="/icons/social-media-logos/svg/036-facebook.svg" class="socialMediaIcon">
  </a>
</div>
