<div class="footer__contact-container">

  <button class="footer__close-contact-button">
    <i class="far fa-times-circle"></i>
  </button>

  <ul>
    <li class="footer__open-contact-button">
      <button>Contact USDT</button>
    </li>

    <li class="footer__link"><a href="#" onclick="return false;">www.usdeptruth.com</a></li>
    <li class="footer__link"><a href="#" onclick="return false;">3253 Veracity Street SW, <br>Washington, DC 20554</a></li>
    <li class="footer__link"><a href="#" onclick="return false;">Phone: 1-888-487-3253</a></li>
    <li class="footer__link"><a href="#" onclick="return false;">TTY: 1-888-487-2543</a></li>
    <li class="footer__link"><a href="#" onclick="return false;">ASL Videophone: 1-844-382-5724</a></li>
    <li class="footer__link"><a href="#" onclick="return false;">Fax: 1-866-382-53222</a></li>
    <li class="footer__link"><a href="#" onclick="return false;">Contact Us</a></li>
    <li class="footer__link"><a href="#" onclick="return false;">Careers</a></li>
  </ul>
</div>

<div class="footer__policies-container">

  <button class="footer__close-policies-button">
    <i class="far fa-times-circle"></i>
  </button>

  <ul>
    <li class="footer__open-policies-button">
      <button>USDT Online Policies</button>
    </li>

    <li class="footer__link"><a href="#" onclick="return false;">Freedom of Information Act (FOIA)</a></li>
    <li class="footer__link"><a href="#" onclick="return false;">Privacy & Security Statement</a></li>
    <li class="footer__link"><a href="#">Disclaimers</a></li>
    <li class="footer__link"><a href="#" onclick="return false;">Important Website Policies & Notices</a></li>
    <li class="footer__link"><a href="#" onclick="return false;">Plug-Ins Used on usdeptruth.com</a></li>
    <li class="footer__link"><a href="#" onclick="return false;">Disability Rights & Accessibility Statement</a></li>
    <li class="footer__link"><a href="#" onclick="return false;">No Fear Act Data</a></li>
    <li class="footer__link"><a href="#" onclick="return false;">Digital Strategy</a></li>
    <li class="footer__link"><a href="#" onclick="return false;">Open Government Directive</a></li>
    <li class="footer__link"><a href="#" onclick="return false;">Plain Writing Act</a></li>
  </ul>
</div>

<div class="footer__indices-container">

  <button class="footer__close-indices-button">
    <i class="far fa-times-circle"></i>
  </button>

  <ul>
    <li class="footer__open-indices-button">
      <button>USDT Indices</button>
    </li>
    <li class="footer__link"><a href="#" onclick="return false;">About USDT</a></li>
    <li class="footer__link"><a href="#" onclick="return false;">Español</a></li>
    <li class="footer__link"><a href="#" onclick="return false;">Office of Secretary of Truth</a></li>
    <li class="footer__link"><a href="#" onclick="return false;">Subscribe to the USDT Newsletter</a></li>
    <li class="footer__link"><a href="#" onclick="return false;">Read the USDT Newsletter</a></li>
    <li class="footer__link"><a href="#" onclick="return false;">Read All Announcements</a></li>
    <li class="footer__link"><a href="#" onclick="return false;">Read All News Articles</a></li>
    <li class="footer__link"><a href="#" onclick="return false;">Policy Enforcement</a></li>
    <li class="footer__link"><a href="#" onclick="return false;">Media</a></li>
    <li class="footer__link"><a href="#" onclick="return false;">Offices</a></li>
    <li class="footer__link"><a href="#" onclick="return false;">A to Z Index</a></li>
  </ul>
</div>