<div class="footer__contact-container">

  <button class="footer__close-contact-button">
    <i class="far fa-times-circle"></i>
  </button>

  <ul>
    <li class="footer__open-contact-button">
      <button>Contact USDT</button>
    </li>

    <li class="footer__link"><a href="/" >www.usdeptruth.com</a></li>
    <li class="footer__link"><a href="https://www.google.com/maps/search/veracity+street/@38.884664,-77.0271226,17z/data=!3m1!4b1" >3253 Veracity Street SW, <br>Washington, DC 20554</a></li>
    <li class="footer__link"><a href="tel:1-888-487-3253" >Phone: 1-888-487-3253</a></li>
    <li class="footer__link"><a href="tel:1-888-487-2543" >TTY: 1-888-487-2543</a></li>
    <li class="footer__link"><a href="tel:1-844-382-5724" >ASL Videophone: 1-844-382-5724</a></li>
    <li class="footer__link"><a href="tel:1-866-382-53222" >Fax: 1-866-382-53222</a></li>
    <li class="footer__link"><a href="/comingsoon" >Contact Us</a></li>
    <li class="footer__link"><a href="/comingsoon" >Careers</a></li>
  </ul>
</div>

<div class="footer__policies-container">

  <button class="footer__close-policies-button">
    <i class="far fa-times-circle"></i>
  </button>

  <ul>
    <li class="footer__open-policies-button">
      <button>USDT Online Policies</button>
    </li>

    <li class="footer__link"><a href="/comingsoon" >Freedom of Information Act (FOIA)</a></li>
    <li class="footer__link"><a href="/comingsoon" >Privacy & Security Statement</a></li>
    <li class="footer__link"><a href="/comingsoon">Disclaimers</a></li>
    <li class="footer__link"><a href="/comingsoon" >Important Website Policies & Notices</a></li>
    <li class="footer__link"><a href="/comingsoon" >Plug-Ins Used on usdeptruth.com</a></li>
    <li class="footer__link"><a href="/comingsoon" >Disability Rights & Accessibility Statement</a></li>
    <li class="footer__link"><a href="/comingsoon" >No Fear Act Data</a></li>
    <li class="footer__link"><a href="/comingsoon" >Digital Strategy</a></li>
    <li class="footer__link"><a href="/comingsoon" >Open Government Directive</a></li>
    <li class="footer__link"><a href="/comingsoon" >Plain Writing Act</a></li>
  </ul>
</div>

<div class="footer__indices-container">

  <button class="footer__close-indices-button">
    <i class="far fa-times-circle"></i>
  </button>

  <ul>
    <li class="footer__open-indices-button">
      <button>USDT Indices</button>
    </li>
    <li class="footer__link"><a href="/whoweare" >About USDT</a></li>
    <li class="footer__link"><a href="/comingsoon" >Español</a></li>
    <li class="footer__link"><a href="/comingsoon" >Office of Secretary of Truth</a></li>
    <li class="footer__link"><a href="/comingsoon" >Subscribe to the USDT Newsletter</a></li>
    <li class="footer__link"><a href="/comingsoon" >Read the USDT Newsletter</a></li>
    <li class="footer__link"><a href="/announcements" >Read All Announcements</a></li>
    <li class="footer__link"><a href="/news" >Read All News Articles</a></li>
    <li class="footer__link"><a href="/comingsoon" >Policy Enforcement</a></li>
    <li class="footer__link"><a href="/comingsoon" >Media</a></li>
    <li class="footer__link"><a href="/comingsoon" >Offices</a></li>
    <li class="footer__link"><a href="/comingsoon" >A to Z Index</a></li>
  </ul>
</div>