<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>U.S. Department of Truth</title>

    <meta name="author" content="sartoriusrex">

    <meta name="description" content='A fictitious website for the United States Department of Truth (also fictitious).This is the department tasked with the management, creation, distribution, manipulation, and consumption of information, including news, media, and reporting made available for the public'>

    <meta name="keywords" content="truth, fake news, truth is not truth, donald trump, president, social media, facebook, twitter, misinformation, hacking, russia">

    <meta http-equiv="Content-Security-Policy" content="style-src 'self' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com;">


    <link rel='stylesheet' type='text/css' href='/main.css'>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="/fontawesome/css/all.css">

    <!-- Merriweather for Logo and Header, Robot for everything else -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700|Roboto:400,700" rel="stylesheet">

  </head>

  <body>

  <header class='header'>

    <a href="/" class="logoAndText">
      <img class="usdtLogo" src="/Logo/USDT_LOGO.svg">
      <div class="logotext">
        <h1>US Department of Truth</h1>
        <p>Protecting the Integrity of Information</p>
      </div>
    </a>
    
    <div class="headerUtilities">
      <div class="userLoginDiv">
        <div class="login">
          <a href="#">
            <i class="fas fa-user-circle"></i>
            Login
          </a>
        </div>
        <div class="logout">
          <a href="#">
            <i class="fas fa-sign-out-alt"></i>
            Log Out
          </a>
        </div>
        <div class="Sign Up">
          <a href="#">
            Register
          </a>
        </div>
      </div>
      <div class="socialMedia">
        <div class="smcontainer">
          <img src="/icons/social-media-logos/svg/008-twitter.svg" class="socialMediaIcon">
        </div>
        <div class="smcontainer">
          <img src="/icons/social-media-logos/svg/001-youtube.svg" class="socialMediaIcon">
        </div>
        <div class="smcontainer">
          <img src="/icons/social-media-logos/svg/018-reddit.svg" class="socialMediaIcon">
        </div>
        <div class="smcontainer">
          <img src="/icons/social-media-logos/svg/026-medium.svg" class="socialMediaIcon">
        </div>
        <div class="smcontainer">
          <img src="/icons/social-media-logos/svg/027-linkedin.svg" class="socialMediaIcon">
        </div>
        <div class="smcontainer">
          <img src="/icons/social-media-logos/svg/029-instagram.svg" class="socialMediaIcon">
        </div>
        <div class="smcontainer">
          <img src="/icons/social-media-logos/svg/036-facebook.svg" class="socialMediaIcon">
        </div>
      </div>
    </div>
  </header>
  
    <nav class='navlist'>
      <li class="navli"><a href="#">About</a></li>
      <li class="navli"><a href="#">Forms & Reporting</a></li>
      <li class="navli"><a href="#">Policy & News</a></li>
      <li class="navli"><a href="#">Research</a></li>
      <li class="navli"><a href="#">Bureaus & Offices</a></li>
      <li class="navli"><a href="#">Press</a></li>
      <li class="navli"><a href="#">FAQ</a></li>
      <li class="navli"><a href="#">Contact</a></li>
      <div class="search-bar">
        <input type="text" placeholder="Search">
        <div class="search-icon"><a href="#"><i class="fas fa-search"></i></a></div>
      </div>
    </nav>