<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>U.S. Department of Truth</title>

    <meta name="author" content="sartoriusrex">

    <meta name="description" content='A fictitious website for the United States Department of Truth (also fictitious).This is the department tasked with the management, creation, distribution, manipulation, and consumption of information, including news, media, and reporting made available for the public'>

    <meta name="keywords" content="truth, fake news, truth is not truth, donald trump, president, social media, facebook, twitter, misinformation, hacking, russia">

    <link rel='stylesheet' type='text/css' href='/stylesheet.css'>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <!-- Merriweather for Logo and Header, Robot for everything else -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700|Roboto:400,700" rel="stylesheet">

  </head>

  <body>

  <header class='header'>
      <div class="logo">

      </div>
      <div class="logotext">
        <h1>US Department of Truth</h1>
        <p>Protecting the Integrity of Information</p>
      </div>
      <div class="headerutilities">
        <a href="#"><div class="login">Login</div></a><a href="#"><div class="Sign Up">Signup</div></a>
      </div>
    </header>
  
    <nav class='navlist'>
      <li class="navli"><a href="#">About</a></li>
      <li class="navli"><a href="#">Forms & Reporting</a></li>
      <li class="navli"><a href="#">Policy & News</a></li>
      <li class="navli"><a href="#">Research</a></li>
      <li class="navli"><a href="#">Bureaus & Offices</a></li>
      <li class="navli"><a href="#">Press</a></li>
      <li class="navli"><a href="#">FAQ</a></li>
      <li class="navli"><a href="#">Contact</a></li>
      <div class="search-bar">
        <input type="text" placeholder="  Search">
        <div class="search-icon"><a href="#"><i class="fas fa-search"></i></a></div>
      </div>
    </nav>