<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>U.S. Department of Truth</title>

    <meta name="author" content="sartoriusrex">

    <meta name="description" content='A fictitious website for the United States Department of Truth (also fictitious).This is the department tasked with the management, creation, distribution, manipulation, and consumption of information, including news, media, and reporting made available for the public'>

    <meta name="keywords" content="truth, fake news, truth is not truth, donald trump, president, social media, facebook, twitter, misinformation, hacking, russia">

    <meta http-equiv="Content-Security-Policy" content="style-src 'self' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com;">


    <link rel='stylesheet' type='text/css' href='/css/main.min.css'>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="/fontawesome/css/all.css">

    <!-- Merriweather for Logo and Header, Robot for everything else -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700|Roboto:400,700" rel="stylesheet">

  </head>

  <body>

  <% include ./flash %>

  <header class='header'>

    <a href="/" class="header__logo-container">
      <img class="header__logo" src="/Logo/USDT_LOGO.svg">
      <div class="header__brand-text">
        <h1 class="header__title">US Department of Truth</h1>
        <h1 class="header__title-sm">USDT</h1>
        <p>Protecting the Integrity of Information</p>
      </div>
    </a>

    <% include ./header-menu %>
    
  </header>
  
  <% include ./navbar %>