<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>U.S. Department of Truth</title>
    <meta name="author" content="sarter-rex">
    <meta name="description" content='A fictitious website for the United States Department of Truth (also fictitious).This is the department tasked with the management of the creation, distribution, manipulation, and consumption of information, including news, media, and reporting made available for the public'>
    <meta name="keywords" content="truth, fake news, truth is not truth, donald trump, president, social media, facebook, twitter, misinformation, hacking, russia">
    <link rel='stylesheet' type='text/css' href='/stylesheet.css'>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700|Roboto:400,700" rel="stylesheet">
  </head>

  <body>

  <header class='header'>
      <div class="logo"></div>
      <div class="logotext">
        <h1>US Department of Truth</h1>
        <p>Protecting the Integrity of Information</p>
      </div>
      <div class="headerutilities"></div>
    </header>
  
    <nav class='navlist'>
      <li class="navli"><a href="#">About</a></li>
      <li class="navli"><a href="#">Forms & Reporting</a></li>
      <li class="navli"><a href="#">Policy & News</a></li>
      <li class="navli"><a href="#">Research</a></li>
      <li class="navli"><a href="#">Bureaus & Offices</a></li>
      <li class="navli"><a href="#">Press</a></li>
      <li class="navli"><a href="#">FAQ</a></li>
      <input type="text">
    </nav>