<div class="nav-container">
    <nav class='nav-list'>

      <button class="nav-container__close-menu-button">
        <i class="far fa-times-circle"></i>
      </button>

      <button class="nav-container__open-menu-button">
        <i class="fas fa-bars"></i>
      </button>

      <li class="nav-container__nav-list-item">
        <a href="#" onclick="return false;">About</a>
        <div class="nav-list-item-link-container">
          <a href="/whoweare">Who We Are</a>
          <a href="/secoftruth">The Secretary of Truth</a>
          <a href="/policies">Policies</a>
          <a href="/faq">FAQ</a>
        </div>
      </li>
      <li class="nav-container__nav-list-item">
        <a href="#" onclick="return false;">Forms</a>
        <div class="nav-list-item-link-container">
          <a href="/reports/new">Report Crimes</a>
          <a href="/comingsoon">Application for Propaganda</a>
          <a href="/comingsoon">Report for Service</a>
        </div>
      </li>
      <li class="nav-container__nav-list-item">
        <a href="#" onclick="return false;">Press & News</a>
        <div class="nav-list-item-link-container">
          <a href="/comingsoon">Announcements</a>
          <a href="/comingsoon">News</a>
          <a href="/comingsoon">Press Releases</a>
          <a href="/comingsoon">Newsletter Archive</a>
          <a href="/comingsoon">Events</a>
          <a href="/comingsoon">Sponsorships</a>
        </div>
      </li>
      <li class="nav-container__nav-list-item">
        <a href="#" onclick="return false;">Research</a>
        <div class="nav-list-item-link-container">
          <a href="/comingsoon">Sciences</a>
          <a href="/comingsoon">Pseudo-science</a>
          <a href="/comingsoon">Philosophy</a>
        </div>
      </li>
      <li class="nav-container__nav-list-item">
        <a href="#" onclick="return false;">Offices</a>
        <div class="nav-list-item-link-container">
          <a href="/comingsoon">State & Local Offices</a>
          <a href="/comingsoon">Federal Bureau</a>
          <a href="/comingsoon">International Offices</a>
        </div>
      </li>
      <li class="nav-container__nav-list-item">
        <a href="/comingsoon" onclick="return false;">Contact</a>
      </li>
    </nav>

    <div class="search-bar">
      <input type="text" placeholder="Search">
      <button class="search-icon" type="submit">
        <i class="fas fa-search"></i>
      </button>
    </div>  

  </div>