<section class="newsletterSubscribe">

  <div class="sectionTitleDiv">
    <i class="far fa-envelope"></i>
    <h2>Newsletter</h2>
  </div>
  <p>Read the USDT Newsletter and get all the Truthy Bits</p>
  <div class="subscribeGroup">
    <input class="emailSubscribeInput" type="email" id="emailSubscribe" name="emailSubscribe" placeholder="tom.i_can_handle_the_truth@cruise.com">
    <div class="subscribeToNewsletterBtn">
      <a href="#">Sign Up</a>
    </div>
  </div>

</section>