<section class="newsletter-subscribe">

  <div class="section-title">
    <i class="far fa-envelope"></i>
    <h2>Newsletter</h2>
  </div>

  <p class="newsletter-p">Read the USDT Newsletter and get all the Truthy Bits</p>

  <div class="subscribe-input-container">
    <input 
      class="subscribe-input" 
      type="email" 
      id="subscribe-input" 
      name="subscribe-input" 
      placeholder="tom.i_can_handle_the_truth@cruise.com"
    >
    <div class="subscribe-button">
      <a href="#">Sign Up</a>
    </div>
  </div>

</section>