<section class='report'>

  <div class="section-title">
    <i class="fas fa-user-secret"></i>
    <h2>Truth Crimes</h2>
  </div> 
  <p>We have entered the Post-Truth Era. Though they may be subtle, crimes which distort, twist, or confound the truth  are equivalent to lies and pose the greatest threat to Democracy today.</p>
  <p>Lies sow mistrust in institutions which rely on accurate information to serve the public. It is only through the constant pruning of lies that the rich and diverse garden of Democracy can thrive.</p>
  <p>If you witness or suspect that a crime involving the mis-use of information has occurred, is occurring, or will occurr, please file a report using the link below.</p>
  <a href="/reports/new" class="report-btn">Report a Crime</a>

</section>