<% include ../partials/header %>

<section class="allAnnouncements">

<h2>All Announcements</h2>
<a href="/announcements/new" id="createAnnouncement">
  <div>
      <i class="fas fa-plus"></i> Create Announcement
  </div>
</a>

<% announcement.slice().reverse().forEach(function(announcement){ %>
  <div class="announcementContainer">
    <div class="dateUpdated">
      <h4>Last Updated:</h4>
      <p><%= moment(announcement.dateLastUpdate).fromNow() %></p>
    </div>
    <div class="announcementBody">
      <p><em>Author: <%= announcement.author %></em></p>
      <br>
      <p><%= announcement.body %></p>
    </div>
    <a class="updateAnnouncement" href="/announcements/<%=announcement._id%>/edit">
      <div>
      Update
      </div>
    </a>
    <a class="deleteAnnouncement" href="#">
      <div>
      Delete
      </div>
    </a>
  </div>
<% }) %>

</section>

<% include ../partials/footer %>