<% include ./partials/header %>

<main class="comingsoon-page">
	<h2>This Page is under construction</h2>

	<article>
		<section>
			<p>
				Sorry for the inconvenience
			</p>
		</section>
	</article>
</main>

<% include ./partials/footer %>