<% include ./partials/header %>

<main class="comingsoon-page">
	<h2>This Page is under construction</h2>

	<article>
		<p>
			Sorry for the inconvenience
		</p>
	</article>
</main>

<% include ./partials/footer %>