<% include ./partials/header %>

  <header class='header'>
    <div class="logo"></div>
    <div class="logotext">
      <h1>US Department of Truth</h1>
      <p>Protecting the Integrity of Information</p>
    </div>
    <div class="headerutilities"></div>
  </header>

  <nav class='navlist'>
    <li class="navli"><a href="#">Secretary of Truth</a></li>
    <li class="navli"><a href="#">About</a></li>
    <li class="navli"><a href="#">Report</a></li>
    <li class="navli"><a href="#">Policy Issues</a></li>
    <li class="navli"><a href="#">Local Offices</a></li>
    <li class="navli"><a href="#">Countries and Regions</a></li>
    <li class="navli"><a href="#">Press</a></li>
  </nav>

  <section class='slider'>
    <div class="sliderContainer">
      <div class="sliderText">
        <a href='#'><h2>This is the Title for an Article in the Slider</h2></a>
        <p><span>Date: 05/18/2018 </span>This is the Paragraph for an Article in the Slider Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis placeat impedit consequuntur obcaecati sit quisquam iure sunt deserunt exercitationem illo incidunt, beatae aliquam dignissimos delectus esse. Aspernatur unde accusamus dicta natus suscipit, minus quasi fugit illo nisi, ut autem quos similique veritatis perspiciatis at sequi ipsa accusantium non ad? Voluptates minima fugiat quae dignissimos impedit harum quaerat soluta earum accusantium.</p>
        <a class="sliderArticleBtn" href='#'>Read Full Text</a>
      </div>
      <a href="#"><img class='sliderPhoto' src="/photos/science-truth.jpg"></a>
    </div>
    <div class="sliderIndicator">
        <a href="#" class="sliderArticleInd, article1"><div class="square"></div></a>
        <a href="#" class="sliderArticleInd, article2"><div class="square"></div></a>
        <a href="#" class="sliderArticleInd, article3"><div class="square"></div></a>
      </div>
    <button class="slideleft">&lt;</button>
    <button class="slideright">&gt;</button>
  </section>

  <section class='announcements'>
      <h2>Announcements</h2>
      <div class="announcementsContainer">
        <div class="announcediv">
          <p>Date</p>
          <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis ab at nostrum omnis provident, aspernatur minima nisi, ipsum rerum eveniet cumque facere fugit numquam, maxime laboriosam! Numquam, laboriosam facilis. Reprehenderit.</h4>
        </div>
        <div class="announcediv">
          <p>Date</p>
          <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis ab at nostrum omnis provident, aspernatur minima nisi, ipsum rerum eveniet cumque facere fugit numquam, maxime laboriosam! Numquam, laboriosam facilis. Reprehenderit.</h4>
        </div>
        <div class="announcediv">
          <p>Date</p>
          <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis ab at nostrum omnis provident, aspernatur minima nisi, ipsum rerum eveniet cumque facere fugit numquam, maxime laboriosam! Numquam, laboriosam facilis. Reprehenderit.</h4>
        </div>
      </div>
      <div class="moreAnnouncements">
        <a href="#" class="moreAnnouncementsBtn">Read More Announcements</a>
      </div>
  </section>
  
  <section class='news'>
    <div class="newsdiv"></div>
  </section>

  <section class='report'>
    <div class="reportdiv"></div>
  </section>

<% include ./partials/footer %>