<% include ./partials/header %>

  <section class='slider'>
    <div class="sliderContainer">
      <div class="sliderText">
        <a href='#'><h2>This is the Title for an Article in the Slider</h2></a>
        <p><span>Date: 05/18/2018 </span>This is the Paragraph for an Article in the Slider Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis placeat impedit consequuntur obcaecati sit quisquam iure sunt deserunt exercitationem illo incidunt, beatae aliquam dignissimos delectus esse.</p>
        <a class="sliderArticleBtn btn" href='#'>Read Full Text</a>
      </div>
      <a href="#" class ='sliderPhotoLink'><img class='sliderPhoto' src="/photos/science-truth.jpg" alt="science truth"></a>
    </div>
    <div class="sliderIndicator">
        <a href="#" class="sliderArticleInd, article1"><div class="square"></div></a>
        <a href="#" class="sliderArticleInd, article2"><div class="square"></div></a>
        <a href="#" class="sliderArticleInd, article3"><div class="square"></div></a>
      </div>
    <button class="slideleft"><i class="fas fa-arrow-left"></i></button>
    <button class="slideright"><i class="fas fa-arrow-right"></i></button>
  </section>

  <section class='announcements'>
    <div class='sectionTitleDiv'>
      <i class="fas fa-scroll"></i>
      <h2>Announcements</h2>
    </div>

    <div class="announcementsContainer">

      <% announcement.slice(-3).reverse().forEach( function (announcement){ %>

        <div class="announcediv">
          <p class="announceDate"><%=moment(announcement.dateLastUpdate).format("ddd, MMM Do YYYY, h:mm a")%></p>
          <p class="announceText"><%=announcement.body.substring(0,200)%> . . .</p>
        </div>

      <% }) %>

    </div>
    <div>
      <a href="/announcements" class="readMoreBtn btn moreAnnouncements">Read More Announcements</a>
    </div>
  </section>
  
  <section class='news'>
    <div class="sectionTitleDiv">
      <i class="fas fa-newspaper"></i>
      <h2>News</h2>
    </div>
    <div class="newsContainer">
      <a href="#" class=newsLink>
        <img src="/photos/art-protest-fist.jpg" alt="art protest" class="newsPhoto">
        <div class="newsText">
          <h4>News Headline</h4>
          <p>Date</p>
          <p class="newsDesc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem, cumque.</p>
        </div>
      </a>
      <a href="#" class=newsLink>
        <img src="/photos/china-crowd.jpg" alt="art protest" class="newsPhoto">
        <div class="newsText">
          <h4>News Headline</h4>
          <p>Date</p>
          <p class="newsDesc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem, cumque.</p>
        </div>
      </a>
      <a href="#" class=newsLink>
        <img src="/photos/sticker-ivoted.jpg" alt="art protest" class="newsPhoto">
        <div class="newsText">
          <h4>News Headline</h4>
          <p>Date</p>
          <p class="newsDesc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem, cumque.</p>
        </div>
      </a>
    </div>
    <div>
      <a href="/news" class="readMoreBtn btn moreNews">Read More News</a>
    </div>
  </section>

  <section class='report'>
    <div class="sectionTitleDiv">
      <i class="fas fa-user-secret"></i>
      <h2>Truth Crimes</h2>
    </div> 
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere voluptatem expedita assumenda ea exercitationem quasi eveniet nemo, modi maiores dolor, atque at. Eveniet quia ipsa veniam hic eius vero libero!</p>
    <a href="/reports/new" class="reportCrimesBtn btn">Report a Crime</a>
  </section>

  <section class="newsletterSubscribe">

    <div class="sectionTitleDiv">
      <i class="far fa-envelope"></i>
      <h2>Newsletter</h2>
    </div>
    <p>Read the USDT Newsletter and get all the Truthy Bits</p>
    <div class="subscribeGroup">
      <input class="emailSubscribeInput" type="email" id="emailSubscribe" name="emailSubscribe" placeholder="tom.i_can_handle_the_truth@cruise.com">
      <div class="subscribeToNewsletterBtn">
        <a href="#">Sign Up</a>
      </div>
    </div>

  </section>

<% include ./partials/footer %>