<% include ./partials/header %>

<section>

<h2>Report a Truth Crime</h2>
<hr>
<div class="formdiv">
  <form action="/reports" method="POST">
    <div class="reportSection">
      <div class="reportSectionName">
        <h3>Identity</h3>
        <p>We verify your identity to prevent you from having false claims  made on your behalf or against you.</p>
      </div>
      <div class="reportDataArea">
        <label for="firstName">First Name</label>
        <input class="reportInput" type="text" name="firstName" id='firstName' placeholder="Steve">
        <label for="lastName">Last Name</label>
        <input class="reportInput" type="text" name="lastName" id="lastname" placeholder="Tesich">
        <label for="dob">Date of Birth i.e. 09-29-1942</label>
        <input type="date" class="reportInput" name="dob" id="dob" min="01-01-1900" max="12-12-2018">
        <label for="ssn">Social Security Number</label>
        <input type="number" class="reportInput" name="ssn" id="ssn" placeholder="xxx-xx-xxxx">
      </div>
    </div>
  </form>
</div>

</section>

<% include ./partials/footer %>