<% include ./partials/header %>

<main class="noresult-page">
	<h1>404 Error</h1>
	<h2>
		I'm sorry, but that page doesn't exist. You can click the logo to take you to our Homepage.
	</h2>
</main>

<% include ./partials/footer %>