/* GENERAL STYLES */

* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}

html {
  font: normal 16px san-serif;
  color: hsl(42, 15%, 13%);
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: hsl(40, 23%, 97%);
  display: block;
}

nav, ul {
  list-style: none;
}

p {
  line-height: 1.5rem;
  hyphens: auto;
}

h4 {
  hyphens: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

a:not(.btn .subscribeToNewsletterBtn):hover {
  text-decoration: underline;
  cursor: pointer;
}

.primaryBtn {
  border: none;
  background-color: hsl(360, 85%, 25%);
  font: normal 16px sans-serif;
  font-family: 'Roboto', sans-serif;
  color: hsl(40, 23%, 97%);
  border-radius: 8px;
  padding: 10px;
  text-transform: uppercase;
  box-shadow: 0 4px 4px 1px hsl(41, 8%, 61%);
  transform: translatey(-4px);
}

.primaryBtn:hover {
  box-shadow: 0 2px 2px hsl(41, 8%, 61%);
  transform: translatey(-2px);
}

.primaryBtn:active {
  box-shadow: 0 0 0 hsl(41, 8%, 61%);
  transform: translatey(0px);
}

.secondaryBtn {
  border: none;
  background-color: hsl(40, 15%, 80%);
  font: normal 16px sans-serif;
  font-family: 'Roboto', sans-serif;
  color: hsl(42, 15%, 13%);
  border-radius: 8px;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0 4px 4px 1px hsl(39, 11%, 69%);
  transform: translatey(-4px);
}

.secondaryBtn:hover {
  box-shadow: 0 2px 2px hsl(39, 11%, 69%);
  transform: translatey(-2px);
}

.secondaryBtn:active {
  box-shadow: 0 0 0 hsl(39, 11%, 69%);
  transform: translatey(0px);
}

button {
  border: none;
  background-color: transparent;
  color: hsl(40, 23%, 97%);
  font: 16px 'Roboto', sans-serif;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 40px 0;
}

section > h2 {
  padding-bottom: 20px;
}

section:not(slider):nth-child(even) {
  background-color: hsl(43, 13%, 90%);
}

.sectionTitleDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionTitleDiv i {
  padding-right: 10px;
  font-size: 20px;
}

hr {
  background-color: hsl(41, 8%, 61%);
  width: 90%;
  margin: 10px 0;
  padding: 0.5px;
  border-radius: 50%;
}

input,
textarea,
select {
  border: none;
  text-indent: 5px;
}

input:focus {
  outline: 0;
}

input[value] {
  color: hsl(42, 15%, 13%);
}

.readMoreBtn {
  background-color:hsl(41, 8%, 48%);
  border-radius: 8px;
  color: hsl(40, 23%, 97%);
  padding: 5px 20px;
  margin: 20px 0;
  box-shadow: 0 2px 2px .5px hsl(39, 11%, 69%);
  transform: translatey(-2px);
}

.readMoreBtn:hover {
  box-shadow: 0 1px 1px hsl(39, 11%, 69%);
  transform: translatey(-1px);
}

.readMoreBtn:active {
  box-shadow: 0 0 0 hsl(39, 11%, 69%);
  transform: translatey(0px);
}

/* ================================================ */


/* HEADER STYLE */

.header {
  background-color: hsl(360, 85%, 25%);
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  height: 120px;
}

.logoAndText {
  display: flex;
  flex-direction: row;
}

.usdtLogo {
  width: 100px;
  height: 100px;
  padding: 5px;
}

.logotext {
  color: hsl(40, 23%, 97%);
  padding: 10px;
}

h1 {
  text-shadow: 0 0 15px black; 
  font-family: Merriweather;
  font-weight: 700;
  padding-bottom: 5px;
}

.logotext p {
  text-shadow: 0 0 5px black;
  font-family: Merriweather;
}

.headerUtilities {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  color: hsl(49, 100%, 96%);
  padding-right: 20px;
}


/* Text button that opens menu to login/register, etc */
#loginIcon,
#socialIcon {
  color: hsl(49, 100%, 96%);
  display: none;
  font-size: 32px;
}

#navIcon,
#closeLogin,
#closeSocial {
  display: none;
}

.userLoginDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  z-index: 1;
}

.userLoginDiv > a {
  padding: 5px 10px;
}

.userLoginDiv a:hover {
  border-bottom: 2px solid hsl(49, 100%, 96%);
}

.socialMedia {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 10px;
  flex: 0 1 50%;
}

.socialMedia a:hover,
#socialMediaFooter a:hover {
  transform: scale3d(1.1,1.1,1.1);
}

.smcontainer {
  border-radius: 40%;
  background-color: hsl(43, 13%, 90%);
  margin: 3px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialMediaIcon {
  height: 30px;
  width: 30px;
  padding: 2px;
  margin: 3px;
}


/* =================================================== */


/* NAV STYLE */

#closeMenu {
  font-size: 42px;
  order: -2;
  display: none;
}

.navcontainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: hsl(39, 11%, 69%);
  position: sticky;
  top: 0;
  z-index: 5;
  padding: 3px 0;
}

.navlist {
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(49, 100%, 96%);
  width: 90%;
  background-color: hsl(39, 11%, 69%);
  z-index: 10;
}

.navlist li,
.search-bar {
  margin: 0 15px;
  font-weight: bold;
}

.navli {
  position: relative;
  display: inline-block;
  padding: 3px 0;
}

.navli a:hover {
  text-decoration: underline;
  color: hsl(184, 91%, 17%);
}

.navli > a {
  padding: 0 3px;
}

.navliContent {
  position: absolute;
  width: max-content;
  background-color: hsl(40, 15%, 80%);
  border-radius: 8px;
  z-index: 1000;
  padding: 0 5px;
  display: none;
  margin-top: 3px;
}

.navli:hover .navliContent {
  display: block;
}

.navliContent a {
  display: block;
  margin: 10px 5px;
  padding: 5px;
  color: hsl(42, 15%, 13%);
  font-weight: bold;
  border-radius: 8px;
}

.navli > a,
.search-icon {
  color: hsl(42, 15%, 13%)
}

.search-bar {
  display: flex;
  justify-content: center;
  border-radius: 8px;
}

.search-bar input {
  border-radius: 8px;
  border: none;
}

.search-icon {
  padding: 5px;
}

/* ====HEADER AND NAV BAR RESPONSIVENESS==== */

@media screen and (max-width: 800px) {
  #loginIcon,
  #socialIcon
   {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }

  /* All Actual Links and Icons in Login Menu: no display */
  .userLoginDiv > a {
    display: none;
  }

  .socialMedia a {
    display: none;
  }

  .headerUtilities {
    align-items: center;
    padding: 5px 10px;
  }

  /* State of Elements in Menu when clicked */

  /* Menu */
  .userLoginDiv.responsive,
  .socialMedia.responsiveSocial {
    display: block;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    z-index: 15;
    position: relative;
    background-color: hsl(42, 15%, 13%);
    padding: 5px;
    border-radius: 8px;
    font-size: 32px;
  }

  .socialMedia.responsiveSocial {
    display: flex;
  }

  /* Links in menus */
  .userLoginDiv.responsive > a {
    display: flex;
    width: 100%;
    padding: 5px;
    justify-content: center;
  }

  .userLoginDiv a:hover {
    background-color: hsl(49, 100%, 96%);
    color: hsl(42, 15%, 13%);
  }

  .socialMedia.responsiveSocial > a {
    display: block;
  }

  .socialMedia.responsiveSocial .smcontainer {
    margin: 5px;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .socialMedia.responsiveSocial .socialMediaIcon {
    height: 60px;
    width: 60px;
    padding: 5px;
    margin: 5px;
  }

  /* X Button */
  .userLoginDiv.responsive #loginIcon #closeLogin,
  .socialMedia.responsiveSocial #socialIcon #closeSocial {
    display: block;
  }

  /* Open menu button and Icon Links = no display */
  .userLoginDiv.responsive #loginIcon #openLogin,
  .userLoginDiv.responsive > a > i,
  .socialMedia.responsiveSocial #socialIcon #openSocial {
    display: none;
  }

  /* Position Menus above all items in top center */

  body {
    position: relative;
  }
  
  .headerUtilities.responsive,
  .headerUtilities.responsiveSocial {
    position: absolute;
    top: 0;
    left: 10%;
    padding: 0;
    width: 80%;
  }
}


/* ===NAV BAR RESPONSIVENESS=== */

@media screen and (max-width: 750px) {
  #navIcon {
    display: block;
    font-size: 28px;
    color: hsl(42, 15%, 13%);
  }

  .navlist {
    justify-content: space-between;
  }

  .navli {
    display: none;
  }

  /* Navbar Responsiveness */

  .navlist.responsive {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: hsl(49, 100%, 96%);
    width: 100%;
    background-color: hsl(42, 15%, 13%);
    padding: 5px;
  }

  .navlist.responsive #closeMenu {
    display: block;
  }

  .navlist.responsive #navIcon {
    display: none;
  }

  .navlist.responsive .navli,
  .navlist.responsive .search-bar {
    padding: 5px;
    width: 100%;
  }

  .navlist.responsive .navli {
    display: flex;
    margin: 0;
  }

  .navlist.responsive .search-bar {
    order: -1;
    margin: 0;
    justify-content: flex-start;
  }

  .navlist.responsive .navli > a {
    width: 100%;
    font-size: 32px;
  }

  .navlist.responsive .navli > a,
  .navlist.responsive .search-icon {
    color: hsl(40, 23%, 97%);
  }

  .navlist.responsive .search-bar input {
    width: 70%;
  }

  .navlist.responsive .navli .navliContent {
    width: 70%;
    background-color: hsl(37, 11%, 28%);
    top: 0;
    right: 0;
  }
  
  .navlist.responsive .navli .navliContent a {
    display: block;
    color: hsl(40, 23%, 97%);
    font-size: 24px;
  }
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 24px;
  }

  .logotext p {
    font-size: 12px;
    line-height: .9rem;
  }
}

@media screen and (max-width: 400px) {
  .logotext p {
    font-size: 10px;
    line-height: .9rem;
  }

  h1 {
    font-size: 16px;
  }

  .headerUtilities.responsive,
  .headerUtilities.responsiveSocial {
    font-size: 32;
  }
}

/* =================================================== */


/* SLIDER GENERAL STYLE */

.slider {
  overflow: hidden;
}

.sliderContainer {
  position: relative; /*to position nav arrows on left and right */
}

.sliderContainer,
.sliderLI {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 350px;
}

.sliderLI {
  width: 100%;
}

.slideFade {
  animation: .5s fade ease-in-out;
}

@keyframes fade {
  from {opacity: .3;}

  to {opacity: 1;}
}

.sliderText,
.sliderPhotoLink {
  display: flex;
  flex: 1 1 100%;
  max-width: 50%;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
}

.sliderText {
  padding: 0 20px;
  flex-direction: column;
  justify-content: space-between;
}


.sliderPhoto {
  max-width: 100%;
  max-height: 100%;
}

.sliderText h2 {
  color: hsl(360, 92%, 20%);
  width: inherit;
}

.sliderText p {
  padding: 10px 0;
  width: inherit;
}

.sliderDate {
  font-weight: bold;
}

.sliderArticleBtn {
  background-color:hsl(41, 8%, 48%);
  border-radius: 8px;
  color: hsl(40, 23%, 97%);
  padding: 5px 10px;
}

.sliderArticleBtn:hover,
.square:hover {
  cursor: pointer;
}


/* ------------------------------------------ */

/* Slider Article Small Thumbnail */

.sliderIndicator {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: center;
}

.square {
  background-color: hsl(360, 92%, 20%);
  height: 15px;
  width: 15px;
  margin: 10px;
  border-radius: 8px;
  opacity: 0.4;
}

.active {
  background-color: hsl(360, 92%, 20%);
  opacity: 1;
  box-shadow: 0 0 10px hsl(360, 85%, 25%);
}

/* ------------------------------------------ */

/* Slider Nav Button Styles */

.slideleft, .slideright {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  background-color: hsl(360, 92%, 20%);
  z-index: 1;
  opacity: .9;
  position: absolute;
  font-size: 30px;
  color: hsl(49, 100%, 96%);
}

.slideleft:hover {
  transform: translate(4px)
}

.slideleft:active {
  transform: translate(2px)
}

.slideright:hover {
  transform: translate(-4px);
}

.slideright:active {
  transform: translate(-2px);
}

.slideleft {
  top: 40%;
  left: -90px;
  box-shadow: 4px 2px 10px hsl(39, 11%, 69%);
}

.slideright {
  top: 40%;
  right: -90px;
  box-shadow: -4px 2px 10px hsl(39, 11%, 69%);
}

/* ===SLIDE SECTION RESPONSIVENESS== */

@media screen and (max-width: 900px) {
  .sliderBody {
    display: none;
  }

  .sliderContainer,
  .sliderContainer ul,
  .sliderLI {
    height: 250px;
  }

  .sliderText {
    justify-content: center;
    align-items: center;
  }

  .sliderText h2 {
    font-size: 20px;
  }

}

@media screen and (max-width: 1100px) {
  .slideleft {
    left: -50px;
    height: 60px;
    width: 60px;
  }
  
  .slideright {
    right: -50px;
    height: 60px;
    width: 60px;
  }
}

@media screen and (max-width: 650px) {
  .sliderText h2 {
    font-size: 18px;
  }
}

@media screen and (max-width: 450px) {
  .sliderPhotoLink {
    display: none;
  }

  .sliderText {
    width: 100%;
    max-width: 100%;
  }

  .slideleft {
    left: -30px;
    height: 40px;
    width: 40px;
  }
  
  .slideright {
    right: -30px;
    height: 40px;
    width: 40px;
  }

}


/* =================================================== */


/* ANNOUNCEMENTS STYLE */

.announcementsContainer, 
.newsContainer {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px 0;
}

.announcediv {
  width: 30%;
  padding: 20px 20px 30px;
  font-size: 14px;
}

.announceDate {
  padding-bottom: 5px;
  color: hsl(15, 86%, 30%);
  font-weight: bold;
  text-decoration: underline;
}

/* ===ANNOUNCEMENT RESPONSIVENESS=== */

@media screen and (max-width: 750px) {
  .announcementsContainer,
  .newsContainer {
    flex-flow: column nowrap;
  }

  .announcediv {
    width: 100%;
  }
}


/* ------------------------------------------ */

/* NEWS STYLE */

.newsLinkRow{
  max-width: 40%;
  padding: 10px;
  flex: 1 1 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.newsLinkColumn{
  max-width: 40%;
  padding: 10px;
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.newsPhotoRow {
  width: 50%;
  padding-right: 2%;
}

.newsPhotoColumn {
  width: 90%;
  padding-bottom: 2%;
}

.newsText {
  width: 90%;
}

.newsText h4,
.newsText p {
  padding-bottom: 15px;
}

.newsDate {
  color: hsl(15, 86%, 30%);
}

.newsDesc {
  font-size: 16px;
}

/* ===NEWS RESPONSIVENESS=== */


@media screen and (max-width: 750px) {
  .newsLinkColumn,
  .newsLinkRow {
    width: 100%;
    max-width: 100%;
    padding: 20px 20px 30px;
    display: block;
  }

  .newsContainer img {
    display: none;
  }

  .newsText {
    width: 100%;
  }
}

/* ------------------------------------------ */

/* REPORTS SECTION STYLE */

.report .sectionTitleDiv,
.newsletterSubscribe .sectionTitleDiv {
  padding-bottom: 40px;
}

.report p {
  width: 50%;
  padding-bottom: 40px;
}

.reportCrimesBtn {
  background-color:hsl(44, 92%, 63%);
  border-radius: 8px;
  color: hsl(42, 15%, 13%);
  padding: 10px 20px;
  font-size: 20px;
  box-shadow: 0 4px 4px 1px hsl(41, 8%, 61%);
  transform: translatey(-4px);
}

.reportCrimesBtn:hover {
  box-shadow: 0 2px 2px hsl(41, 8%, 61%);
  transform: translatey(-2px);
}

.reportCrimesBtn:active {
  box-shadow: 0 0 0 hsl(41, 8%, 61%);
  transform: translatey(0);
}

/* ===Report Section Responsiveness=== */

@media screen and (max-width: 750px) {
  .report p {
    width: 90%;
  }
}


/* ------------------------------------------ */

/* NEWSLETTER SUBSCRIBE SECTION*/

.newsletterSubscribe > p {
  padding-bottom: 40px;
  max-width: 90%;
}

.subscribeGroup {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 40px;
  justify-content: center;
  align-items: flex-end;
  box-shadow: 0 2px 2px hsl(40, 15%, 80%);
  border-radius: 8px;
  margin-bottom: 20px;
}

.emailSubscribeInput {
  height: 100%;
  border-radius: 8px 0 0 8px;
  text-indent: 10px;
  flex: 1 1 75%;
  border: 1px solid hsl(360, 85%, 25%);
}

.emailSubscribeInput::placeholder {
  text-indent: 10px;
}

.subscribeToNewsletterBtn {
  height: 100%;
  background-color: hsl(360, 85%, 25%);
  color: hsl(40, 23%, 97%);
  border-radius: 0 8px 8px 0;
  border: none;
  font-size: 20px;
  flex: 1 1 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ===Newsletter Responsiveness=== */

@media screen and (max-width: 650px) {
  .subscribeGroup {
    width: 80%;
  }
}

@media screen and (max-width: 400px) {
  .subscribeGroup {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    box-shadow: none;
  }

  .emailSubscribeInput {
    max-height: 30%;
    width: 100%;
    border-radius: 8px;
  }

  .subscribeToNewsletterBtn {
    max-height: 30%;
    width: 50%;
    border-radius: 8px;
    box-shadow: 0 2px 2px .5px hsl(39, 11%, 69%);
    transform: translatey(-2px);
  }

  .subscribeToNewsletterBtn:hover {
    box-shadow: 0 1px 1px hsl(39, 11%, 69%);
    transform: translatey(-1px);
  }

  .subscribeToNewsletterBtn:active {
    box-shadow: 0 0 0 hsl(39, 11%, 69%);
    transform: translatey(0px);
  }
}


/* =================================================== */
/* =================================================== */
/* =================================================== */


/* FOOTER STYLE */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(360, 92%, 20%);
}

#socialMediaFooter {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 10px;
  flex: 0 1 50%;
  padding: 10px;
}

#socialMediaFooter {
  padding: 5px;
  margin: 5px;
}

.footerNavIcon {
  display: none;
  font-size: 16px;
}

.footerNavIcon button {
  display: block;
  height: 100%;
  font: 16px 'Roboto', sans-serif;
}

.footerLinks {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 20px 0;
  width: 100%;
}

.footerLinks div ul li {
  padding: 3px 0;
  margin: 2px 0;
}

.footerLinks div ul li a,
.madeby,
.madeby a {
  color: hsl(40, 23%, 97%);
}

/* Attribution for Social Media Icons */
.madeby {
  width: 100%;
  padding: 10px 20px;
}

.closeFooterIndices,
.closeFooterPolicies,
.closeFooterContact {
  display: none;
  font-size: 42px;
  width: 100%;
}

@media screen and (max-width: 650px) {
  .footerNavShown {
    display: none;
  }

  .footerNavIcon {
    display: block;
  }

  .footerLinks {
    flex-direction: column;
    align-items: center;
  }

  #socialMediaFooter {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 10px;
    flex: 0 1 50%;
  }

  .footer-contact,
  .footer-online-policies,
  .footer-indices {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  /* ===FOOTER NAV MENUS WHEN CLICKED=== */

  .footer-contact.responsive,
  .footer-online-policies.responsive,
  .footer-indices.responsive {
    background-color: hsl(42, 15%, 13%);
    padding: 5px;
    border-radius: 8px;
  }

  .footer-contact.responsive .footerNavIcon,
  .footer-online-policies.responsive .footerNavIcon,
  .footer-indices.responsive .footerNavIcon {
    display: none;
  }

  .footer-contact.responsive .closeFooterContact,
  .footer-online-policies.responsive .closeFooterPolicies,
  .footer-indices.responsive .closeFooterIndices {
    display: block;
  }

  .footer-contact.responsive .footerNavShown,
  .footer-online-policies.responsive .footerNavShown,
  .footer-indices.responsive .footerNavShown {
    display: flex;
  }

  .footer-contact.responsive .footerNavShown a,
  .footer-online-policies.responsive .footerNavShown a,
  .footer-indices.responsive .footerNavShown a {
    font-size: 24px;
    padding: 5px;
    width: 100%;
  }

}


/* =================================================== */
/* =================================================== */
/* =================================================== */



/* New Report Form Styling */


.formdiv,
.newForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.formSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  padding: 30px 0;
}

.formSectionName {
  width: 30%;
}

.formSectionName h3 {
  padding-bottom: 20px;
}

.formSectionName p {
  padding-right: 20px;
  font-size: 14px;
}

.formDataArea {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.gridTemplateTwoRow {
  grid-template-rows: repeat(2,auto);
}

.formInputDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 5px 20px;
}

.formInputDiv label {
  padding: 0 5px 3px;
  text-transform: uppercase;
  font-size: 14px;
}

.formInputDiv input,
.formInputDiv select {
  width: 100%;
  height: 30px;
  border: 1px solid hsl(40, 15%, 80%);
  border-radius: 8px;
}

.formInputDiv textarea {
  width: 100%;
  height: 120px;
  border: 1px solid hsl(40, 15%, 80%);
  border-radius: 8px;
}

.gridArea2124 {
  grid-area: 2/1/2/4;
}

.formBtns {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 0;
}

.formBtn {
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 8px;
  margin: 0 5px;
}

.backBtn,
.homeBtn {
  background-color: hsl(40, 23%, 97%);
  color: hsl(40, 13%, 23%);
}

.submitBtn {
  background-color: hsl(15, 86%, 30%);
}

.submitBtn:hover {
  background-color: hsl(15, 86%, 40%);
}

.submitBtn input {
  background-color: transparent;
  color: hsl(40, 23%, 97%);
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

input,
select,
textarea,
input[type="date"] {
  color: hsl(41, 9%, 35%);
  font-size: 14px;
}

input::placeholder,
textarea::placeholder {
  color:hsl(39, 11%, 69%);
  font-size: 14px;
}

textarea,
textarea::placeholder {
  padding: 3px;
  line-height: 1.2rem;
}

label {
  margin-bottom: 3px;
}

/* =============================================== */


/* REPORTS INDEX STYLING */

table {
  width: 90%;
  table-layout: fixed;
  border-collapse: collapse;
  border: 2px solid hsl(360, 92%, 20%);
  background-color: hsl(40, 23%, 97%);
  margin-bottom: 20px;
  padding: 5px;
  word-wrap: break-word;
}

thead {
  background-color: hsl(360, 85%, 25%);
}

th {
  color: hsl(43, 13%, 90%);
  font-weight: normal;
}

th, td {
  padding: 5px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
}

thead tr{
  border-bottom: 2px solid hsl(360, 92%, 20%);
}

thead th:nth-child(1),
thead th:nth-child(2),
thead th:nth-child(7) {
  width: 10%;
}

thead th:nth-child(3),
thead th:nth-child(5),
thead th:nth-child(6) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 25%;
}

tr:nth-child(even) {
  background-color: hsl(40, 15%, 80%);
}

td a {
  padding: 3px;
  background-color: hsl(29, 80%, 44%);
  color: hsl(43, 13%, 90%);
  border-radius: 8px;
}

.homeBtn {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}


/* =================================================== */
/* =================================================== */
/* =================================================== */


/* ANNOUNCEMENTS INDEX STYLING */

#createAnnouncement {
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(81, 78%, 21%);
  color: hsl(40, 23%, 97%);
  border-radius: 8px;
  box-shadow: 0 4px 4px 1px hsl(39, 11%, 69%);
  transform: translatey(-4px);
}

#createAnnouncement:hover {
  box-shadow: 0 2px 2px hsl(39, 11%, 69%);
  transform: translatey(-2px);
}

#createAnnouncement:active {
  box-shadow: 0 0 0 hsl(39, 11%, 69%);
  transform: translatey(0);
}

.announcementContainer {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 90%;
  min-height: 150px;
  background-color: hsl(40, 23%, 97%);
  border-radius: 8px;
  box-shadow: 0 2px 4px hsl(39, 11%, 69%);
  margin-bottom: 15px;
}

.dateUpdated {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 10%;
  flex: 1 1 100%;
  padding: 5px;
  border-radius: 8px 0 0 4px;
  background-color: hsl(184, 80%, 74%);
}

.dateUpdated h4 {
  padding-bottom: 5px;
}

.announcementBody {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  height: 100%;
  min-width: 70%;
  flex: 1 1 100%;
  background-color: hsl(40, 23%, 97%);
  border-radius: 8px;
}

.announcementBody:hover {
  box-shadow: inset 0 0 40px 5px hsl(40, 15%, 80%);
}

.updateAnnouncement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(48, 94%, 68%);
  width: 10%;
  flex: 0 1 100%;
}

.updateAnnouncement div {
  background-color: hsl(48, 94%, 68%);
  color: hsl(40, 13%, 23%);
}

.deleteAnnouncement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(360, 71%, 66%);
  width: 10%;
  flex: 0 1 100%;
  border-radius: 0 8px 8px 0;
}

.deleteAnnouncement button {
  background-color: hsl(360, 71%, 66%);
  color: hsl(40, 13%, 23%);
  font-size: 16px;
  height: 100%;
  width: 100%;
  border-radius: 0 15px 15px 0;
}

.updateAnnouncement:hover,
.deleteAnnouncement:hover {
  transform: perspective(10px) translate3d( 0, 0, .5px);
  border-radius: 8px;
}

.deleteAnnouncement button:hover {
  border-radius: 8px;
}

/* ===ANNOUNCEMENT INDEX RESPONSIVENESS=== */

@media screen and (max-width: 900px){
  .announcementContainer {
    flex-direction: column;
  }

  .dateUpdated {
    flex-direction: row;
    max-width: 100%;
    border-radius: 8px 8px 0 0;
    justify-content: flex-start;
    align-items: baseline;
  }

  .dateUpdated h4 {
    padding: 0 5px 0 0;
  }

  .updateAnnouncement {
    width: 100%;
    height: 30px;
  }

  .deleteAnnouncement {
    width: 100%;
    height: 30px;
    border-radius: 0 0 8px 8px;
  }

  .deleteAnnouncement button {
    border-radius: 0 0 8px 8px;
  }
}


/* ========================================== */


/* Announcement Show Style */

.announcementShowContainer > div:not(.announceShowNavBtns) {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: flex-start;
  align-items: center;
}

.announcementShowContainer div p {
  padding-bottom: 20px;
}

#announcementShowBody {
  padding-bottom: 40px;
}

.announceShowNavBtns {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-between;
  align-items: baseline;
}

.announceShowEdits {
  display: flex;
  max-width: 70%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%
}

.updateAnnouncementShow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(48, 94%, 68%);
  max-width: 50%;
  flex: 0 1 100%;
  margin-right: 10px;
  border: none;
  color: hsl(40, 23%, 97%);
  border-radius: 8px;
  padding: 10px;
  text-transform: uppercase;
  box-shadow: 0 4px 4px 1px hsl(41, 8%, 61%);
  transform: translatey(-4px);
}

.updateAnnouncementShow:hover {
  box-shadow: 0 2px 2px 0 hsl(41, 8%, 61%);
  transform: translatey(-2px);
}

.updateAnnouncementShow:active {
  box-shadow: 0 0 0 0 hsl(41, 8%, 61%);
  transform: translatey(0);
}

.updateAnnouncementShow div {
  background-color: hsl(48, 94%, 68%);
  color: hsl(40, 13%, 23%);
}

.deleteAnnouncementShow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(360, 71%, 66%);
  max-width: 50%;
  flex: 0 1 100%;
  border: none;
  font: normal 16px sans-serif;
  font-family: 'Roboto', sans-serif;
  color: hsl(40, 23%, 97%);
  border-radius: 8px;
  padding: 10px;
  text-transform: uppercase;
  box-shadow: 0 4px 4px 1px hsl(41, 8%, 61%);
  transform: translatey(-4px);
}

.deleteAnnouncementShow:hover {
  box-shadow: 0 2px 2px 0 hsl(41, 8%, 61%);
  transform: translatey(-2px);
}

.deleteAnnouncementShow:active {
  box-shadow: 0 0 0 0 hsl(41, 8%, 61%);
  transform: translatey(0);
}

.deleteAnnouncementShow button {
  background-color: hsl(360, 71%, 66%);
  color: hsl(40, 13%, 23%);
  font-size: 16px;
  height: 100%;
  width: 100%;
  border-radius: 0 15px 15px 0;
  text-transform: uppercase;
}

/* ===ANNOUNCEMENT SHOW RESPONSIVENESS=== */

@media screen and (max-width: 800px) {
  .announcementShowContainer h2 {
    max-width: 90%;
  }

  #announcementShowBody {
    width: 90%;
  }

  .announceShowNavBtns {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .announceShowNavBtns {
    flex-direction: column;
    align-items: center;
  }

  .announceShowNavBtns > a {
    margin-bottom: 10px;
  }

  .announceShowEdits {
    width: 100%;
    max-width: 100%;
  }
}

/* =================================================== */
/* =================================================== */
/* =================================================== */



/* News Index Page */

.articleContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 90%;
  margin: 5px 5px 20px 5px;
  background-color: hsl(40, 23%, 97%);
  border-radius: 8px;
  box-shadow: 0 2px hsl(39, 11%, 69%);
  padding: 5px;
}

.articleContainer:hover {
  box-shadow: inset 0 0 40px 5px hsl(40, 15%, 80%);
}

.coverImageContainer {
  max-width: 30%;
  max-height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: none;
  margin-right: 10px;
  border-radius: 8px 0 0 8px;
}

.coverImageContainer img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 8px 0 0 8px;
  object-fit: contain;
}

.textContainer {
  padding-left: 30px;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.textContainer h3,
.textContainer p{
  padding-bottom: 5px;
}

.textContainer h3 {
  padding-top: 20px;
}

u {
  text-decoration: none;
  border-bottom: 2px solid hsl(42, 15%, 13%);
}

.textContainer h4 {
  padding-bottom: 10px;
}

/* ===NEWS INDEX RESPONSIVENESS=== */

@media screen and (max-width: 500px) {
  .coverImageContainer {
    display: none;
  }

  .textContainer {
    padding: 5px;
    max-width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}


/* =================================================== */


/* News Show Style */


.newsShowContainer {
  width: 40%;
  display: grid;
  padding-bottom: 20px;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: 
    "image image" "title title" "subtitle subtitle" "body body";
}

.newsShowContainerLong {
  grid-template-rows: auto auto auto;
  grid-template-areas: 
    "image title" "image subtitle" "body body";
}

.newsShowImgContainer {
  width: 100%;
  padding-bottom: 20px;
  grid-area: image;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.newsShowContainerLong .newsShowImgContainer {
  justify-content: flex-start;
  padding-right: 10px;
}

.newsShowImgContainer > img{
  max-width: 100%;
  object-fit: scale-down;
}

.newsShowContainerLong > div > img{
  max-width: 100%;
  object-fit: scale-down;
  max-height: 100%;
}

.titleContainer {
  width: 100%;
  grid-area: title;
}

.subtitleContainer {
  width: 100%;
  grid-area: subtitle;
}

.titleContainer *,
.subtitleContainer * {
  padding-bottom: 20px;
}

.newsShowBody {
  width: 100%;
  text-indent: 15px;
  grid-area: body;
  margin-bottom: 20px;
}

.newsShowSection > a {
  align-self: flex-start;
  margin-left: 30%;
}

/* NEWS SHOW REPSONSIVENESS */

@media screen and (max-width: 1100px) {
  .newsShowContainerLong {
    grid-template-areas: 
      "image title" "subtitle subtitle" "body body";
  }
}

@media screen and (max-width: 900px) {
  .newsShowContainer {
    width: 70%;
  }

  .newsShowContainerLong {
    grid-template-areas: 
      "image title" "image subtitle" "body body";
  }

  .newsShowSection > a {
    align-self: flex-start;
    margin-left: 15%;
  }
}

@media screen and (max-width: 700px) {
  .newsShowContainer {
    width: 90%;
  }

  .newsShowSection > a {
    align-self: flex-start;
    margin-left: 5%;
  }
}

@media screen and (max-width: 500px) {
  .newsShowContainerLong {
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
      "image image" "title title" "subtitle subtitle" "body body";
  }
  

  .newsShowContainerLong > div > img {
    max-height: none;
    max-width: none;
    width: 100%;
  }
}


/* ======================================== */
/* login and register page styles */
/* ======================================== */

.loginSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.authenticationContainer {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(40, 23%, 97%);
  border-radius: 15px;
  padding-bottom: 20px;
  box-shadow: 0 5px 10px 5px hsl(39, 11%, 69%);
}

.authenticationContainer h2 {
  padding-top: 20px;
}

.authenticationContainer form,
.authenticationContainer form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.authenticationContainer form {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authenticationContainer form div {
  border-radius: 10%;
  width: 80%;
}

.authenticationContainer button {
  width: 50%;
}

#loginPor{
  padding-bottom: 10px;
  font-size: 14px;
  align-self: center;
}

.authenticationContainer form div label {
  align-self: flex-start;
  padding-bottom: 2px;
  font-size: 14px;
}

.authenticationContainer form div input {
  border-radius: 8px;
}

#password,
#email {
  margin-bottom: 20px;
}

#forgotAuth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
}

#forgotAuth a {
  text-transform: lowercase;
  font-size: 14px;
  padding: 5px;
}

#forgotAuth a:hover {
  text-decoration: underline;
}

.regRedirectDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(40, 23%, 97%);
  border-radius: 8px;
  padding: 5px;
}

.regRedirectDiv:hover {
  color: hsl(40, 23%, 97%);
  background-color: hsl(42, 15%, 13%);
}

/* ===LOGIN RESPONSIVE STYLE=== */

@media screen and (max-width: 900px) {
  .authenticationContainer {
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .authenticationContainer {
    width: 90%;
  }
}


/* ============================================= */


/* REGISTER PAGE STYLING */

#twoStepDiv {
  align-items: center;
}

#twoStepp {
  padding-bottom: 2px;
}

.twoStepDivInput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;;
  padding: 5px;
  width: 50%;
}

.twoStepDivInput input {
  width: 2rem;
  padding: 5px 5px;
  margin: 5px 5px;
  border: 0px;
}

.twoStepDivInput label {
  width: 6rem;
  padding: 5px 5px;
  margin: 5px 5px;
}

/* ===Register Responsive Styling=== */

@media screen and (max-width: 800px) {
  .formDataArea {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 550px) {
  .formSection {
    flex-direction: column;
  }

  .formSectionName {
    width: 100%;
    padding-bottom: 20px;
  }

  .formDataArea {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

/* ================================= */

/* Flash message Styling */

#flashContainer {
  background-color: hsl(40, 23%, 97%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 2.5rem;
  display: none;
  position: absolute;
  opacity: 0.9;
}

.successAlert,
.failureAlert  {
  color: hsl(42, 15%, 13%);
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 100;
}

.failureAlert {
  background-color: hsl(40, 23%, 97%);
}

.failureAlert h4 {
  border-bottom: 4px solid hsl(360, 72%, 38%);
}

.successAlert {
  background-color: hsl(40, 23%, 97%);
}

.successAlert h4 {
  border-bottom: 4px solid hsl(83, 70%, 34%);
}