/* GENERAL STYLES */

* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}

html {
  font: normal 16px san-serif;
  color: hsl(42, 15%, 13%);
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: hsl(43, 13%, 90%);
}

nav, ul {
  list-style: none;
}

p {
  line-height: 1.4rem;
  hyphens: auto;
}

h4 {
  hyphens: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

a:not(.btn .subscribeToNewsletterBtn):hover {
  text-decoration: underline;
  cursor: pointer;
}

.btn {
  box-shadow: 0 2px 2px hsl(40, 15%, 80%);
}

button {
  border: none;
  color: hsl(40, 23%, 97%);
  background-color: hsl(15, 86%, 30%);
  font: normal 16px sans-serif;
  font-family: 'Roboto', sans-serif;
}

button:hover {
  cursor: pointer;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 60px 0;
}

section > h2 {
  padding-bottom: 20px;
}

section:not(slider):nth-child(even) {
  background-color: hsl(40, 15%, 80%);
}

.sectionTitleDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionTitleDiv i {
  padding-right: 10px;
  font-size: 20px;
}

hr {
  background-color: hsl(41, 8%, 61%);
  width: 90%;
  margin: 10px 0;
  padding: 0.5px;
  border-radius: 50%;
}

input,
textarea,
select {
  border: none;
  text-indent: 5px;
  background-color: hsl(40, 23%, 97%);
}

input:focus {
  outline: 0;
}

input[value] {
  color: hsl(42, 15%, 13%);
}

.readMoreBtn {
  background-color:hsl(41, 8%, 48%);
  border-radius: 5px;
  color: hsl(40, 23%, 97%);
  padding: 5px 20px;
  margin: 20px 0;
}

.btnDiv:hover {
  transform: translate(0, -2px);
  box-shadow: 0 4px 6px hsl(41, 8%, 61%);
}

/* ================================================ */


/* HEADER STYLE */

.header {
  background-color: hsl(360, 85%, 25%);
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  height: 120px;
}

.logoAndText {
  display: flex;
  flex-direction: row;
}

.usdtLogo {
  width: 100px;
  height: 100px;
  padding: 5px;
}

.logotext {
  color: hsl(40, 23%, 97%);
  padding: 10px;
}

h1 {
  text-shadow: 0 0 15px black; 
  font-family: Merriweather;
  font-weight: 700;
}

.logotext p {
  text-shadow: 0 0 5px black;
  font-family: Merriweather;
}

.headerUtilities {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  color: hsl(49, 100%, 96%);
  padding-right: 20px;
}

.userLoginDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.userLoginDiv > div {
  padding: 5px 10px;
}

.socialMedia {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 10px;
  flex: 0 1 50%;
}

.smcontainer {
  border-radius: 40%;
  background-color: hsl(43, 13%, 90%);
  margin: 3px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialMediaIcon {
  height: 30px;
  width: 30px;
  padding: 2px;
  margin: 3px;
}


/* =================================================== */


/* NAV STYLE */

.navcontainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: hsl(39, 11%, 69%);
  position: sticky;
  top: 0;
  z-index: 5;
}

.navlist {
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(49, 100%, 96%);
  width: 90%;
  background-color: hsl(39, 11%, 69%);
}

.navlist li,
.search-bar {
  margin: 0 15px;
  font-weight: bold;
}

.navli {
  position: relative;
  display: inline-block;
  padding: 3px 0;
}

.navli:hover {
  border-left: 2px solid hsl(360, 85%, 25%);
}

.navli > a {
  padding: 0 3px;
}

.navliContent {
  position: absolute;
  width: max-content;
  background-color: hsl(40, 15%, 80%);
  border-radius: 4px;
  z-index: 5;
  padding: 0 5px;
  display: none;
}

.navli:hover .navliContent {
  display: block;
}

.navliContent a {
  display: block;
  font-weight: normal;
  margin: 10px 5px;
  padding: 5px;
  color: hsl(42, 15%, 13%);
  font-weight: bold;
  border-radius: 4px;
}

.navliContent a:hover {
  background-color: hsl(40, 23%, 97%);
}

.navli > a,
.search-icon {
  color: hsl(42, 15%, 13%)
}

.search-bar {
  display: flex;
  justify-content: center;
  /* border: 1px solid hsl(42, 15%, 13%); */
  border-radius: 4px;
}

.search-bar input {
  border-radius: 4px;
  border: none;
  padding-left: 5px;
}

.search-icon {
  padding: 5px;
}


/* =================================================== */


/* SLIDER GENERAL STYLE */

.slider {
  position: relative; /*to position nav arrows on left and right */
  overflow: hidden;
}

.sliderContainer,
.sliderLI {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 350px;
}

.sliderLI {
  width: 100%;
}

.slideFade {
  animation: .5s fade ease-in-out;
}

@keyframes fade {
  from {opacity: .3;}

  to {opacity: 1;}
}

.sliderText,
.sliderPhoto {
  flex: 1 1 100%;
}

.sliderText {
  padding-right: 30px;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.sliderPhotoLink {
  max-width: 50%;
  max-height: 100%;
}


.sliderPhoto {
  max-width: 100%;
  max-height: 40vh;
}

.sliderText h2 {
  color: hsl(360, 92%, 20%);
  width: inherit;
}

.sliderText p {
  padding: 10px 0;
  width: inherit;
}

.sliderDate {
  font-weight: bold;
}

.sliderArticleBtn {
  background-color:hsl(41, 8%, 48%);
  border-radius: 5px;
  color: hsl(40, 23%, 97%);
  padding: 5px 10px;
}

.sliderArticleBtn:hover,
.square:hover {
  cursor: pointer;
}


/* ------------------------------------------ */

/* Slider Article Small Thumbnail */

.sliderIndicator {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: center;
}

.square {
  background-color: hsl(360, 92%, 20%);
  height: 15px;
  width: 15px;
  margin: 10px;
  border-radius: 4px;
  opacity: 0.4;
}

.active {
  background-color: hsl(360, 92%, 20%);
  opacity: 1;
  box-shadow: 0 0 10px hsl(360, 85%, 25%);
}

/* ------------------------------------------ */

/* Slider Nav Button Styles */

.slideleft, .slideright {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  background-color: hsl(360, 92%, 20%);
  z-index: 1;
  opacity: .9;
  position: absolute;
  font-size: 30px;
  color: hsl(49, 100%, 96%);
}

.slideleft:hover, 
.slideright:hover {
  transform: translate( 0, -3px);
}

.slideleft {
  top: 40%;
  left: -25px;
  box-shadow: 4px 2px 10px hsl(39, 11%, 69%);
}

.slideright {
  top: 40%;
  right: -25px;
  box-shadow: -4px 2px 10px hsl(39, 11%, 69%);
}


/* =================================================== */


/* ANNOUNCEMENTS STYLE */

.announcementsContainer, .newsContainer {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px 0;
}

.announcediv {
  width: 30%;
  padding: 20px 20px 30px;
  font-size: 14px;
}

.announceDate {
  padding-bottom: 5px;
  color: hsl(15, 86%, 30%);
  font-weight: bold;
  text-decoration: underline;
}

.announceText {
  text-align: justify;
}

/* ------------------------------------------ */

/* NEWS STYLE */

.newsLinkRow{
  max-width: 40%;
  padding: 10px;
  flex: 1 1 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.newsLinkColumn{
  max-width: 40%;
  padding: 10px;
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.newsPhotoRow {
  width: 50%;
  padding-right: 2%;
}

.newsPhotoColumn {
  width: 90%;
  padding-bottom: 2%;
}

.newsText {
  width: 90%;
  text-align: justify;
}

.newsText h4,
.newsText p {
  padding-bottom: 15px;
}

.newsDate {
  color: hsl(15, 86%, 30%);
}

.newsDesc {
  font-size: 16px;
}

/* ------------------------------------------ */

/* REPORTS SECTION STYLE */

.report .sectionTitleDiv,
.newsletterSubscribe .sectionTitleDiv {
  padding-bottom: 40px;
}

.report p {
  width: 50%;
  padding-bottom: 40px;
}

.reportCrimesBtn {
  background-color:hsl(44, 92%, 63%);
  border-radius: 4px;
  color: hsl(42, 15%, 13%);
  padding: 10px 20px;
  font-size: 20px;
  box-shadow: 0 2px 2px hsl(39, 11%, 69%);
}

.reportCrimesBtn:hover {
  transform: translate(0, -2px);
  box-shadow: 0 4px 6px hsl(41, 8%, 61%);
}

/* ------------------------------------------ */

/* NEWSLETTER SUBSCRIBE SECTION*/

.newsletterSubscribe > p {
  padding-bottom: 40px;
}

.subscribeGroup {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 40px;
  justify-content: center;
  align-items: flex-end;
  box-shadow: 0 2px 2px hsl(40, 15%, 80%);
  border-radius: 4px;
  margin-bottom: 20px;
}

.emailSubscribeInput {
  height: 100%;
  border-radius: 5px 0 0 5px;
  text-indent: 10px;
  flex: 1 1 75%;
  border: 1px solid hsl(360, 85%, 25%);
}

.emailSubscribeInput::placeholder {
  text-indent: 10px;
}

.subscribeToNewsletterBtn {
  height: 100%;
  background-color: hsl(360, 85%, 25%);
  color: hsl(40, 23%, 97%);
  border-radius: 0 5px 5px 0;
  border: none;
  font-size: 20px;
  flex: 1 1 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* =================================================== */
/* =================================================== */
/* =================================================== */


/* FOOTER STYLE */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(360, 92%, 20%);
}

.footerLinks {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 20px 0;
  width: 100%;
}

.footerLinks div ul li {
  padding: 3px 0;
  margin: 2px 0;
}

.footerLinks div ul li a,
.madeby,
.madeby a {
  color: hsl(40, 23%, 97%);
}

/* Attribution for Social Media Icons */
.madeby {
  width: 100%;
  padding: 10px 20px;
}


/* =================================================== */
/* =================================================== */
/* =================================================== */



/* New Report Form Styling */


.formdiv,
.newForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.formSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  padding: 30px 0;
}

.formSectionName {
  width: 30%;
}

.formSectionName h3 {
  padding-bottom: 20px;
}

.formSectionName p {
  padding-right: 20px;
}

.formDataArea {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.gridTemplateTwoRow {
  grid-template-rows: repeat(2,auto);
}

.formInputDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 5px 20px;
}

.formInputDiv label {
  padding: 0 5px 3px;
  text-transform: uppercase;
  font-size: 14px;
}

.formInputDiv input,
.formInputDiv select {
  width: 100%;
  height: 30px;
  border: 1px solid hsl(40, 15%, 80%);
  border-radius: 4px;
}

.formInputDiv textarea {
  width: 100%;
  height: 120px;
  border: 1px solid hsl(40, 15%, 80%);
  border-radius: 4px;
}

.gridArea2124 {
  grid-area: 2/1/2/4;
}

.formBtns {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 0;
}

.formBtn {
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
  margin: 0 5px;
}

.backBtn,
.homeBtn {
  background-color: hsl(40, 23%, 97%);
  color: hsl(40, 13%, 23%);
}

.submitBtn {
  background-color: hsl(15, 86%, 30%);
}

.submitBtn:hover {
  background-color: hsl(15, 86%, 40%);
}

.submitBtn input {
  background-color: transparent;
  color: hsl(40, 23%, 97%);
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

input,
select,
textarea,
input::placeholder,
textarea::placeholder,
input[type="date"] {
  color: hsl(41, 9%, 35%);
  font-size: 14px;
}

textarea,
textarea::placeholder {
  padding: 3px;
  line-height: 1.2rem;
}

label {
  margin-bottom: 3px;
}

/* =============================================== */


/* REPORTS INDEX STYLING */

table {
  width: 90%;
  table-layout: fixed;
  border-collapse: collapse;
  border: 2px solid hsl(360, 92%, 20%);
  background-color: hsl(40, 23%, 97%);
  margin-bottom: 20px;
  padding: 5px;
  word-wrap: break-word;
}

thead {
  background-color: hsl(360, 85%, 25%);
}

th {
  color: hsl(43, 13%, 90%);
  font-weight: normal;
}

th, td {
  padding: 5px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
}

thead tr{
  border-bottom: 2px solid hsl(360, 92%, 20%);
}

thead th:nth-child(1),
thead th:nth-child(2),
thead th:nth-child(7) {
  width: 10%;
}

thead th:nth-child(3),
thead th:nth-child(5),
thead th:nth-child(6) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 25%;
}

tr:nth-child(even) {
  background-color: hsl(40, 15%, 80%);
}

td a {
  padding: 3px;
  background-color: hsl(29, 80%, 44%);
  color: hsl(43, 13%, 90%);
  border-radius: 4px;
}

.homeBtn {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}


/* =================================================== */
/* =================================================== */
/* =================================================== */


/* ANNOUNCEMENTS INDEX STYLING */

#createAnnouncement {
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(81, 78%, 21%);
  color: hsl(40, 23%, 97%);
  border-radius: 4px;
  box-shadow: 0 2px 2px hsl(39, 11%, 69%);
}

.announcementContainer {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 90%;
  min-height: 150px;
  background-color: hsl(40, 23%, 97%);
  border-radius: 15px;
  box-shadow: 0 2px 4px hsl(39, 11%, 69%);
  margin-bottom: 15px;
}

.dateUpdated {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 10%;
  flex: 1 1 100%;
  padding: 5px;
  border-radius: 15px 0 0 15px;
  background-color: hsl(184, 80%, 74%);
}

.dateUpdated h4 {
  padding-bottom: 5px;
}

.announcementBody {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  height: 100%;
  min-width: 70%;
  flex: 1 1 100%;
}

.updateAnnouncement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(48, 94%, 68%);
  width: 10%;
  flex: 0 1 100%;
}

.updateAnnouncement div {
  background-color: hsl(48, 94%, 68%);
  color: hsl(40, 13%, 23%);
}

.deleteAnnouncement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(360, 71%, 66%);
  width: 10%;
  flex: 0 1 100%;
  border-radius: 0 15px 15px 0;
}

.deleteAnnouncement form,
.deleteAnnouncement form button {
  background-color: hsl(360, 71%, 66%);
  color: hsl(40, 13%, 23%);
  font-size: 16px;
  height: 100%;
  width: 100%;
  border-radius: 0 15px 15px 0;
}


/* ========================================== */


/* Announcement Show Style */

.announcementShowContainer > div:not(.announceShowNavBtns) {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: flex-start;
  align-items: center;
}

.announcementShowContainer div p {
  padding-bottom: 20px;
}

.announceShowNavBtns {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-between;
}

.announceShowEdits {
  display: flex;
  max-width: 50%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60%
}

.updateAnnouncementShow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(48, 94%, 68%);
  max-width: 50%;
  flex: 0 1 100%;
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
}

.updateAnnouncementShow div {
  background-color: hsl(48, 94%, 68%);
  color: hsl(40, 13%, 23%);
}

.deleteAnnouncementShow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(360, 71%, 66%);
  max-width: 50%;
  flex: 0 1 100%;
  border-radius: 5px;
  padding: 5px;
}

.deleteAnnouncementShow form,
.deleteAnnouncementShow form button {
  background-color: hsl(360, 71%, 66%);
  color: hsl(40, 13%, 23%);
  font-size: 16px;
  height: 100%;
  width: 100%;
  border-radius: 0 15px 15px 0;
}
/* =================================================== */
/* =================================================== */
/* =================================================== */



/* News Index Page */

.articleContainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 90%;
  margin: 5px 5px 20px 5px;
  background-color: hsl(40, 23%, 97%);
  border-radius: 4px;
  box-shadow: 0 2px hsl(39, 11%, 69%);
}

.coverImageContainer {
  max-width: 30%;
  max-height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: hsl(41, 8%, 61%);
  margin-right: 10px;
  border-radius: 4px 0 0 4px;
}

.coverImageContainer img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 4px 0 0 4px;
  object-fit: scale-down;
}

.textContainer {
  padding-left: 30px;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

/* .textContainer,
.coverImageContainer,
.textContainer h3,
.textContainer h4,
.textContainer p{
  flex: 1 1 100%;
} */

.textContainer h3,
.textContainer p{
  padding-bottom: 5px;
}

.textContainer h3 {
  padding-top: 20px;
}

u {
  text-decoration: none;
  border-bottom: 2px solid hsl(42, 15%, 13%);
}

.textContainer h4 {
  padding-bottom: 10px;
}


/* =================================================== */


/* News Show Style */


.newsShowContainer {
  width: 40%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: 
    "image title" "body body";
}

.newsShowImgContainer {
  width: 100%;
  padding-bottom: 20px;
  margin-right: 10px;
  grid-area: image;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.newsShowContainer > div > img{
  max-height: 100%;
  max-width: 90%;
  object-fit: scale-down;
}

.titleContainer {
  width: 100%;
  margin-left: 10px;
  margin-right: 20px;
  grid-area: title;
}

.titleContainer * {
  padding-bottom: 10px;
}

.newsShowBody {
  margin: auto 20px;
  width: 100%;
  text-indent: 15px;
  grid-area: body;
}