/* GENERAL STYLES */

* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}

html {
  font: normal 16px san-serif;
  color: hsl(0, 0%, 0%);
}

nav, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 0%);
}

button:hover {
  cursor: pointer;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 50px 0;
}

section:not(slider):nth-child(even) {
  background-color: hsl(43, 13%, 90%);
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: hsl(40, 23%, 97%);
}

.readMoreBtn {
  background-color:hsl(41, 8%, 48%);
  border-radius: 5px;
  color: hsl(40, 23%, 97%);
  padding: 0 20px;
  margin: 20px 0;
}

/* HEADER STYLE */
.header {
  background-color: hsl(360, 92%, 20%);
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.logo {
  float: left;
}

.logotext {
  color: hsl(40, 23%, 97%);
  padding: 10px;
}

h1 {
  text-shadow: 0 0 15px black; 
  font-family: Merriweather;
  font-weight: 700;
}

.logotext p {
  text-shadow: 0 0 5px black;
  font-family: Merriweather;
}

/* NAV STYLE */

.navlist {
  display: flex;
  justify-content: space-around;
  color: hsl(49, 100%, 96%);
  width: 100%;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: hsl(40, 15%, 80%);
}

.navlist li,
.navlist .search-bar {
  margin: 0 15px;
  font-weight: bold;
}

.navli a {
  opacity: 0.8;
}

.navli a:hover {
  opacity: 1;
}

.search-bar input {
  border-radius: 5px;
  box-shadow: 2px hsl(37, 11%, 28%);
  height: 100%;
}

/* SLIDER GENERAL STYLE */

.slider {
  position: relative; /*to position nav arrows on left and right */
  overflow: hidden;
}

.sliderContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 350px;
}

.sliderText, .sliderPhoto {
  flex: 1 1 100%;
}

.sliderText {
  padding-right: 30px;
  max-width: 50%;
}

.sliderPhotoLink {
  max-width: 50%;
}

.sliderPhoto {
  width: 100%;
}

.sliderText h2,
.sliderText p,
.sliderText a {
  padding: 0 20px;
  margin: 0 10px;
  width: inherit;
}

.sliderText h2 {
  color: hsl(360, 92%, 20%);
}

.sliderText span {
  font-weight: bold;
}

.sliderText p {
  padding: 10px 0;
}

.sliderArticleBtn {
  background-color:hsl(41, 8%, 48%);
  border-radius: 5px;
  color: hsl(40, 23%, 97%);
}

/* Slider Article Small Thumbnail */

.sliderIndicator {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: center;
}

.square {
  background-color: hsl(360, 92%, 20%);
  height: 15px;
  width: 15px;
  margin: 10px;
  border-radius: 4px;
  opacity: 0.5;
}

/* Slider Nav Button Styles */

.slideleft, .slideright {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  background-color: hsl(360, 92%, 20%);
  z-index: 1;
  opacity: .9;
  position: absolute;
  font-size: 30px;
  color: hsl(49, 100%, 96%);
}
.slideleft {
  top: 40%;
  left: -35px;
}

.slideright {
  top: 40%;
  right: -35px;
}

/* ANNOUNCEMENTS STYLE */

.announcementsContainer, .newsContainer {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}

.announcediv {
  height: 250;
  width: 30%;
  padding: 20px 20px 30px;
}

.announcediv p {
  padding: 0 0 20px;
  color: hsl(15, 86%, 30%);
}

.announcediv h4 {
  line-height: 20px;
}

/* NEWS STYLE */

.newsLink{
  max-width: 30%;
  padding: 20px;
  flex: 1 1 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.newsPhoto {
  width: 50%;
  padding-right: 5%;
}

.newsText {
  width: 75%;
}

.newsText h4,
.newsText p {
  padding-bottom: 10px;
}

.newsDesc {
  font-size: 16px;
}

/* REPORTS STYLE */

.report h2 {
  padding-bottom: 20px;
}

.report p {
  width: 90%;
  padding-bottom: 20px;
}

.reportCrimesBtn {
  background-color:hsl(44, 92%, 63%);
  border-radius: 5px;
  color: hsl(42, 15%, 13%);
  padding: 10px 20px;
  font-size: 20px;
}

/* FOOTER STYLE */

footer {
  background-color: hsl(360, 92%, 20%);
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 20px 0;
}

footer div ul li {
  padding: 3px 0;
  margin: 2px 0;
}

footer div ul li a{
  color: hsl(40, 23%, 97%);
}