<% include ../partials/header %>

<main class="policies-page">
	<h2>Frequently Asked Questions</h2>
	<article>
		<section>
			<h3>Is this a real government website?</h3>
			<p>
				No, of course not. Please don't let that tidbit of information prevent you from having a good laugh.
			</p>
			<hr />
			<h3>Why do this at all?</h3>
			<p>
				Satire is a poignant, effective, and often humorous way of commenting on what is really going on. It's the "truth" written in an untruthful way, and it often serves to educate and engage audiences to think. It also counterpoints the seriousness of the topics at hand, which can often overwhelm audiences.
			</p>
			<hr />
		</section>
	</article>
</main>

<% include ../partials/footer %>