<% include ../partials/header %>

<main class="policies-page">
	<h2>Policies</h2>
	<article>
		<section>
			<h3>Tell the truth--the whole truth--and nothing but the truth</h3>
			<p>
				Democracy depends on the good will of the people to vote in their best interests, however they might judge that. That means speaking your truth, no matter what.
			</p>
			<hr />
			<h3>Acknowledge that multiple points of view are valid, may not always be 100% true, and will often contradict one another.</h3>
			<p>
				The irony is that truth is exceedingly difficult to judge, and we must allow room for error in the truth and the ability to refute it. This policy ventures into the realms of philosophy and science and is beyond the scope of this article. Suffice it to say that two opposing arguments can be simultaneously correct and incorrect, both in their arguments, premises, and conclusions.
			</p>
			<hr />
		</section>
	</article>
</main>

<% include ../partials/footer %>