<% include ../partials/header %>

<main class="whoweare-page">
	<h2>Secretary of Truth</h2>
	<div class="whoweare-page__img-container">
		<img src="/photos/courthouse-top.jpg" alt="US Flag">
	</div>
	<article>
		<h3>Mission</h3>
		<p>
			To enforce the standards for information integrity; to protect the foundation for a free and thinking democratic republic; to safeguard the truth from the lack thereof.
		</p>
	</article>
</main>

<% include ../partials/footer %>