<% include ../partials/header %>

<main class="whoweare-page">
	<h2>Who We Are</h2>
	<article>
		<section>
			<h3>Purpose</h3>
			<p>
				To ensure the integrity, authenticity, and veracity of information--particularly that information which is key to safeguarding and nurturing a strong democracy. Leading the world through economic, military, and cultural dominance, while incredible, is not enough. It is not enough for our country to thrive--or merely survive--in this age of information. None of the institutions of this great nation can stand without having a strong foundation in fact and truth.
			</p>
			<h3>Department</h3>
			<p>
				The US Department of Truth comprises 55 offices distributed across all US States, its territories, and its protectorates. Each state office may comprise itself of regional or municipal offices to better meet the needs of its terroritories.
			</p>
		</section>
	</article>
</main>

<% include ../partials/footer %>