<% include ../partials/header %>

<main>
	<h2>Who We Are</h2>
	<article>
		<section>
			<h4>Purpose</h4>
			<p>
				To ensure the integrity, authenticity, and veracity of information--particularly that information which is key to safeguarding and nurturing a strong democracy.
			</p>
		</section>
	</article>>
</main>

<% include ../partials/footer %>