<% include ../partials/header %>

<section class="login-section">
  <div class="login-section__container">
    <h2>Login</h2>
    <form action="/login" method="POST" class="login-section__form">
      <div class="formInputDiv" id="usernamediv">
        <label for="username">username: </label>
        <input type="text" id="username" name="username">
      </div>
      <p>or</p>
      <div class="formInputDiv" id="emaildiv">
        <label for="email">e-mail: </label>
        <input type="email" id="email" name="email">
      </div>
      <div class="formInputDiv" id="password">
        <label for="password">password: </label>
        <input type="password" id="password" name="password">
      </div>
      <button class="primaryBtn" type="submit">login</button>
    </form>
    <div class="login-section__forgotpassword-container">
      <a href="#" class="forgotpass">forgot password</a>
      <a href="#" class="forgotuser">forgot username</a>
    </div>
    <a href="/register" class="login-section__redirect-to-register">
      <h3>
        Register Here
        <i class="fas fa-arrow-circle-right"></i>
      </h3>
    </a>
  </div>
  
</section>

<% include ../partials/footer %>