<% include ../partials/header %>

<section class="loginSection">
  <h2>Login</h2>
  <div class="authenticationCon">
    <form action="post" class="login">
      <div id="usernamediv">
        <label for="username">username: </label>
        <input type="text" id="username" name="username">
      </div>
      <div id="emaildiv">
        <label for="email">e-mail: </label>
        <input type="email" id="email" name="email">
      </div>
      <button class="primaryBtn" type="submit">login</button>
    </form>
    <div class="forgotAuth">
      <a href="#" class="forgotpass">forgot password</a>
      <a href="#" class="forgotuser">forgot username</a>
    </div>
  </div>
</section>

<% include ../partials/footer %>