<% include ../partials/header %>

<section class="registerSection">
  <h2>Register</h2>
  <div class="formdiv">
      <form class="newForm" action="/register" method="POST">
        <hr>
        <div class="formSection">
          <div class="formSectionName">
            <h3>Identity</h3>
            <p>Verify your identity. We respect you, your identity, and your privacy, and so we are committed to preventing others from impersonanting you or using your data against you.</p>
          </div>
          <div class="formDataArea">
            <div class="formInputDiv">
                <label for="username">Username</label>
                <input class="reportInput" type="text" name="username" id='username' placeholder="Lyin-Ted-Cruz" autofocus required>
              </div>
            <div class="formInputDiv">
              <label for="first">First Name</label>
              <input class="reportInput" type="text" name="first" id='first' placeholder="Stojan" autofocus required>
            </div>
            <div class="formInputDiv">
                <label for="middle">Middle Initial</label>
                <input class="reportInput" type="text" name="middle" id='middle' placeholder="S">
              </div>
            <div class="formInputDiv">
              <label for="last">Last Name</label>
              <input class="reportInput" type="text" name="last" id="last" placeholder="Tesich" required>
            </div>
            <div class="formInputDiv">
              <label for="dob">Date of Birth</label>
              <input type="date" class="reportInput" name="dob" id="dob" min="1900-01-01" max="2018-12-12" value="1942-09-29" required>
            </div>
            <div class="formInputDiv">
              <label for="ssn">Social Security Number</label>
              <input type="text" class="reportInput" name="ssn" id="ssn" placeholder="xxx-xx-xxxx" required pattern="[0-9]{3}-[0-9]{2}-[0-9]{4}">
            </div>
          </div>
        </div>
        <hr>
        <div class="formSection">
          <div class="formSectionName">
            <h3>Contact</h3>
            <p>Should anything happen to your information, we require several ways to contact you.</p>
          </div>
          <div class="formDataArea">
            <div class="formInputDiv">
              <label for="primaryPhone">Primary Phone Number (US only)</label>
              <input class="reportInput" type="tel" name="primaryPhone" id='primaryPhone' placeholder="808-911-1800" required pattern="[0-9]{3}[0-9]{3}[0-9]{4}">
            </div>
            <div class="formInputDiv">
              <label for="secondaryPhone">Secondary Phone Number (US only)</label>
              <input class="reportInput" type="tel" name="secondaryPhone" id='secondaryPhone' placeholder="8081990081" pattern="[0-9]{3}[0-9]{3}[0-9]{4}">
              </div>
            <div class="formInputDiv">
              <label for="email">Primary Email Address</label>
              <input class="reportInput" type="email" name="email" id="email" placeholder="doctor.strange@theavengers.com" required>
            </div>
            <div class="formInputDiv">
              <label for="mailingAddress">Mailing Address</label>
              <input type="text" class="reportInput" name="mailingAddress" id="mailingAddress" placeholder="1404 Real Street" required>
            </div>
            <div class="formInputDiv">
              <label for="mailingCity">City</label>
              <input type="text" class="reportInput" name="mailingCity" id="mailingCity" placeholder="Nantucket" required>
            </div>
            <div class="formInputDiv">
              <label for="mailingState">State</label>
              <select class="reportInput" name="mailingState" id="mailingState" value="AL" required>
                <option value="AL">Alabama (AL)</option>
                <option value="AK">Alaska (AK)</option>
                <option value="AZ">Arizona (AZ)</option>
                <option value="AR">Arkansas (AR)</option>
                <option value="CA">California (CA)</option>
                <option value="CO">Colorado (CO)</option>
                <option value="CT">Connecticut (CT)</option>
                <option value="DE">Delaware (DE)</option>
                <option value="DC">District Of Columbia (DC)</option>
                <option value="FL">Florida (FL)</option>
                <option value="GA">Georgia (GA)</option>
                <option value="HI">Hawaii (HI)</option>
                <option value="ID">Idaho (ID)</option>
                <option value="IL">Illinois (IL)</option>
                <option value="IN">Indiana (IN)</option>
                <option value="IA">Iowa (IA)</option>
                <option selected value="KS">Kansas (KS)</option>
                <option value="KY">Kentucky (KY)</option>
                <option value="LA">Louisiana (LA)</option>
                <option value="ME">Maine (ME)</option>
                <option value="MD">Maryland (MD)</option>
                <option value="MA">Massachusetts (MA)</option>
                <option value="MI">Michigan (MI)</option>
                <option value="MN">Minnesota (MN)</option>
                <option value="MS">Mississippi (MS)</option>
                <option value="MO">Missouri (MO)</option>
                <option value="MT">Montana (MT)</option>
                <option value="NE">Nebraska (NE)</option>
                <option value="NV">Nevada (NV)</option>
                <option value="NH">New Hampshire (NH)</option>
                <option value="NJ">New Jersey (NJ)</option>
                <option value="NM">New Mexico (NM)</option>
                <option value="NY">New York (NY)</option>
                <option value="NC">North Carolina (NC)</option>
                <option value="ND">North Dakota (ND)</option>
                <option value="OH">Ohio (OH)</option>
                <option value="OK">Oklahoma (OK)</option>
                <option value="OR">Oregon (OR)</option>
                <option value="PA">Pennsylvania (PA)</option>
                <option value="RI">Rhode Island (RI)</option>
                <option value="SC">South Carolina (SC)</option>
                <option value="SD">South Dakota (SD)</option>
                <option value="TN">Tennessee (TN)</option>
                <option value="TX">Texas (TX)</option>
                <option value="UT">Utah (UT)</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WA">Washington</option>
                <option value="WV">West Virginia</option>
                <option value="WI">Wisconsin</option>
                <option value="WY">Wyoming</option>
              </select>
            </div>
            <div class="formInputDiv">
              <label for="mailingZip">Zip Code</label>
              <input type="number" class="reportInput" name="mailingZip" id="mailingZip" placeholder="78781" required>
            </div>
          </div>
        </div>
        <hr>
        <div class="formSection">
          <div class="formSectionName">
            <h3>Security</h3>
            <p>Protect yourself with a strong password and 2-step verification.</p>
          </div>
          <div class="formDataArea">
            <div class="formInputDiv">
              <label for="password">Create a password</label>
              <input type="password" name="incidentLocation" id="password" placeholder="create*user89?Hysteria" required>
            </div>
            <div class="formInputDiv" id="twoStepDiv">
              <p id="twoStepp">Use Two-Step Verification?</p>
              <div class="twoStepDivInput">
                <input type="radio" id="twoYes" name="twoStepVer" value="Yes">
                <label for="twoYes">Yes</label>
              </div>
              <div class="twoStepDivInput">
                <input type="radio" id="twoNo" name="twoStepVer" value="No">
                <label for="twoNo">No</label>
              </div>
            </div>
            <div class="formInputDiv">
              <label for="adminCode">Admin Code</label>
              <input type="text" id="adminCode" name="adminCode">
            </div>
          </div>
        </div>
    
        <div class="formBtns">
          <div class="secondaryBtn">
            <a href="/">Go Back</a>
          </div>
          <div class="formBtn">
            <button class="primaryBtn" type="submit">Register</button>
          </div>
        </div>
      </form>
    </div>
</section>

<% include ../partials/footer %>