<% include ../partials/header %>

<section class="registerSection">
  <h2>Register</h2>
  <div class="formdiv">
      <form class="newForm" action="/register" method="POST">
        <hr>
        <div class="formSection">
          <div class="formSectionName">
            <h3>Identity</h3>
            <p>Verify your identity. We respect you, your identity, and your privacy, and so we are committed to preventing others from impersonanting you or using your data against you.</p>
          </div>
          <div class="formDataArea">
            <div class="formInputDiv">
                <label for="username">Username</label>
                <input class="reportInput" type="text" name="username" id='username' placeholder="Lyin-Ted-Cruz" autofocus required>
              </div>
            <div class="formInputDiv">
              <label for="first">First Name</label>
              <input class="reportInput" type="text" name="first" id='first' placeholder="Stojan" autofocus required>
            </div>
            <div class="formInputDiv">
                <label for="middle">Middle Initial</label>
                <input class="reportInput" type="text" name="middle" id='middle' placeholder="S">
              </div>
            <div class="formInputDiv">
              <label for="last">Last Name</label>
              <input class="reportInput" type="text" name="last" id="last" placeholder="Tesich" required>
            </div>
          </div>
        </div>
        <hr>
        <div class="formSection">
          <div class="formSectionName">
            <h3>Contact</h3>
            <p>Should anything happen to your information, we require several ways to contact you.</p>
          </div>
          <div class="formDataArea">
            <div class="formInputDiv">
              <label for="email">Primary Email Address</label>
              <input class="reportInput" type="email" name="email" id="email" placeholder="doctor.strange@theavengers.com" required>
            </div>
          </div>
        </div>
        <hr>
        <div class="formSection">
          <div class="formSectionName">
            <h3>Security</h3>
            <p>Protect yourself with a strong password and 2-step verification.</p>
          </div>
          <div class="formDataArea">
            <div class="formInputDiv">
              <label for="password">Create a password</label>
              <input type="password" name="incidentLocation" id="password" placeholder="create*user89?Hysteria" required>
            </div>
            <div class="formInputDiv" id="twoStepDiv">
              <p id="twoStepp">Use Two-Step Verification?</p>
              <div class="twoStepDivInput">
                <input type="radio" id="twoYes" name="twoStepVer" value="Yes">
                <label for="twoYes">Yes</label>
              </div>
              <div class="twoStepDivInput">
                <input type="radio" id="twoNo" name="twoStepVer" value="No">
                <label for="twoNo">No</label>
              </div>
            </div>
            <div class="formInputDiv">
              <label for="adminCode">Admin Code</label>
              <input type="text" id="adminCode" name="adminCode">
            </div>
          </div>
        </div>
    
        <div class="formBtns">
          <div class="secondaryBtn">
            <a href="/">Go Back</a>
          </div>
          <div class="formBtn">
            <button class="primaryBtn" type="submit">Register</button>
          </div>
        </div>
      </form>
    </div>
</section>

<% include ../partials/footer %>