<% include ../partials/header %>

<section>

<h2>Create a new News Article</h2>

<div class="formdiv">
  <form class="newForm" action="/news" method="POST">
    <div class="newsDiv">
      <label for="newsTitle">Article Title</label>
      <input type="text" id="newsTitle" name="newsTitle" placeholder="Mexico to pay for all 4,000 Miles of US Border Wall">
    </div>
    <div class="newsDiv">
      <label for="newsSubtitle">What's the article's Subtitle?</label>
      <input type="text" id="newsSubtitle" name="newsSubtitle" placeholder="The president of Mexico Andrés Manuel López Obrador issued an executive order to budget 200 Quadrillion Pesos for a new border wall with the US.">
    </div>
    <div class="newsBody newsDiv">
      <label for="newsBody">Edit the article below</label>
      <textarea name="newsBody" id="newsBody" cols="30" rows="10"></textarea>
    </div>
    <div class="newsImage">
      <img src="#" alt="#">
    </div>

    <div class="formBtns">
      <div class="formBtn btn backBtn">
        <a href="/">Cancel</a>
      </div>
      <div class="formBtn btn submitBtn">
        <input type="submit"></input>
      </div>
    </div>
  </form>
</div>

</section>

<% include ../partials/footer %>