// Black to Gray
$black-color: hsl(42, 15%, 13%);
$gray-five: hsl(40, 13%, 23%);
$gray-four: hsl(37, 11%, 28%);
$gray-three: hsl(41, 9%, 35%);
$gray-two: hsl(41, 8%, 48%);
$gray-one: hsl(41, 8%, 61%);

// White
$white-one: hsl(40, 23%, 97%);
$white-two: hsl(49, 100%, 96%);
$white-three: hsl(43, 13%, 90%);
$white-four: hsl(40, 15%, 80%);
$white-five: hsl(39, 11%, 69%);

// Red Primary
$red-one: hsl(360, 92%, 20%);
$red-two: hsl(360, 85%, 25%);
$red-three: hsl(15, 86%, 30%);
$red-four: hsl(15, 86%, 40%);
$red-five: hsl(360, 71%, 66%);

// Accent Blue & Yellow & Orange & Green
$blue-one: hsl(184, 91%, 17%);
$blue-two: hsl(184, 80%, 74%);
$yellow-one: hsl(44, 92%, 63%);
$yellow-two: hsl(48, 94%, 68%);
$orange-one: hsl(29, 80%, 44%);
$green-one: hsl(81, 78%, 21%);

// Fonts
$font-family-primary: 'Roboto', sans-serif;
$font-family-secondary: 'Merriweather';
$font-normal: normal 16px sans-serif;
$font-size-xs: 14px;
$font-size-md: 16px;
$font-size-lg: 20px;
$font-size-lg: 24px;
$font-size-xl: 32px;
$font-size-xxl: 42px;

// Borders
$border-radius-normal: 4px;

// Spacing
$padding-normal: 10px;