@import '_variables';

.announcement-link {
  width: 32%;
  padding: 10px;
  font-size: 14px;
  height: 100%;
  margin-bottom: 10px;
  background-color: $white-one;
  border-radius: $border-radius-normal;
  box-shadow: 0 2px $white-five;

  &:hover {
    box-shadow: 0 0 40px 5px $white-four;
  }
}

.announcement-date {
  padding-bottom: 5px;
  color: $red-three;
  font-weight: bold;
  text-decoration: underline;
}

/* ===ANNOUNCEMENT RESPONSIVENESS=== */

@media screen and (max-width: 750px) {
  .announcements-container,
  .newsContainer {
    flex-flow: column nowrap;
  }

  .announcement-link {
    width: 95%;
    margin: 2% auto;
  }
}