@import '_variables';

.announcement-show__container {
  > div:not(.announcement-show__button-container) {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
  }

  div p {
    padding-bottom: 20px;
  }
}

.announcement-show__body {
  padding-bottom: 40px;
}

.announcement-show__button-container {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-between;
  align-items: baseline;
}

.announcement-show__admin-container {
  display: flex;
  max-width: 70%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%
}

.announcement-show__edit-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $yellow-two;
  max-width: 50%;
  flex: 0 1 100%;
  margin-right: 10px;
  border: none;
  color: $white-one;
  border-radius: $border-radius-normal;
  padding: $padding-normal;
  text-transform: uppercase;
  box-shadow: 0 4px 4px 1px $gray-one;
  transform: translatey(-4px);

  &:hover {
    box-shadow: 0 2px 2px 0 $gray-one;
    transform: translatey(-2px);
  }

  &:active {
    box-shadow: 0 0 0 0 $gray-one;
    transform: translatey(0);
  }

  div {
    background-color: $yellow-two;
    color: $gray-five;
  }
}

.announcement-show__delete-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $red-five;
  max-width: 50%;
  flex: 0 1 100%;
  border: none;
  font: $font-normal;
  font-family: $font-family-primary;
  color: $white-one;
  border-radius: $border-radius-normal;
  padding: $padding-normal;
  text-transform: uppercase;
  box-shadow: 0 4px 4px 1px $gray-one;
  transform: translatey(-4px);

  &:hover {
    box-shadow: 0 2px 2px 0 $gray-one;
    transform: translatey(-2px);
  }

  &:active {
    box-shadow: 0 0 0 0 $gray-one;
    transform: translatey(0);
  }

  button {
    background-color: $red-five;
    color: $gray-five;
    font-size: 16px;
    height: 100%;
    width: 100%;
    border-radius: 0 15px 15px 0;
    text-transform: uppercase;
  }
}

/* ===ANNOUNCEMENT SHOW RESPONSIVENESS=== */

@media screen and (max-width: 800px) {
  .announcement-show__container h2 {
    max-width: 90%;
  }

  .announcement-show__body {
    width: 90%;
  }

  .announcement-show__button-container {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .announcement-show__button-container {
    flex-direction: column;
    align-items: center;

    > a {
      margin-bottom: 10px;
    }
  }

  .announcement-show__admin-container {
    width: 100%;
    max-width: 100%;
  }
}