@import '_variables';

/* Flash message Styling */

.container__flash {
  background-color: $white-one;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 4rem;
  display: none;
  position: absolute;
  opacity: 0.9;
}

.container--alert-failure,
.container--alert-success {
  color: $black-color;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 100;
}

.container--alert-failure {
  background-color: $white-one;

  h4 {
    border-bottom: 4px solid hsl(360, 72%, 38%);
  }
}

.container--alert-success {
  background-color: $white-one;

  h4 {
    border-bottom: 4px solid hsl(83, 70%, 34%);
  }
}