@import '_variables';

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $red-one;
}

.footer__social-media-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 15px 15px;
}

.footer__open-contact-button,
.footer__open-policies-button,
.footer__open-indices-button {
  display: none;
  font-size: 18px;

  button {
    display: block;
    height: 100%;
    font: $font-family-primary;
    font-size: 16px;
  }
}

.footer__links-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 20px 0;
  width: 100%;

  div ul li {
    padding: 3px 0;
    margin: 2px 0;

    a {
      color: $white-one;
    }
  }
}

/* Attribution for Social Media Icons */
.footer_icon-attribution {
  width: 100%;
  padding: 10px 20px;
  color: $white-one;
  font-size: 12px;
}

.footer__close-indices-button,
.footer__close-policies-button,
.footer__close-contact-button {
  display: none;
  font-size: 42px;
  width: 100%;
}

@media screen and (max-width: 700px) {
  .footer__link {
    display: none;
  }

  .footer__open-contact-button,
  .footer__open-policies-button,
  .footer__open-indices-button {
    display: block;
  }

  .footer__links-container {
    flex-direction: column;
    align-items: center;
  }

  .footer__social-media-container {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 15px;
  }

  .footer__contact-container,
  .footer__policies-container,
  .footer__indices-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  /* ===FOOTER NAV MENUS WHEN CLICKED=== */

  .footer__contact-container.responsive,
  .footer__policies-container.responsive,
  .footer__indices-container.responsive {
    background-color: $black-color;
    padding: 5px;
    border-radius: $border-radius-normal;
  }

  .footer__contact-container.responsive .footer__open-contact-button,
  .footer__policies-container.responsive .footer__open-policies-button,
  .footer__indices-container.responsive .footer__open-indices-button {
    display: none;
  }

  .footer__contact-container.responsive .footer__close-contact-button,
  .footer__policies-container.responsive .footer__close-policies-button,
  .footer__indices-container.responsive .footer__close-indices-button {
    display: block;
  }

  .footer__contact-container.responsive .footer__link,
  .footer__policies-container.responsive .footer__link,
  .footer__indices-container.responsive .footer__link {
    display: flex;
  }

  .footer__contact-container.responsive .footer__link a,
  .footer__policies-container.responsive .footer__link a,
  .footer__indices-container.responsive .footer__link a {
    font-size: 24px;
    padding: 5px;
    width: 100%;
  }
}