@import '_variables';

.header__menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  color: $white-two;
  padding-right: 20px;
}


/* Text button that opens menu to login/register, etc */
#header__login-button,
#header__social-button {
  color: $white-two;
  display: none;
  font-size: 32px;
}

#header__close-login-icon,
#header__close-social-icon {
  display: none;
}

.header__login-container,
.header__social-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  z-index: 1;

  > a {
    padding: 5px 10px;

    &:hover {
      border-bottom: 2px solid $white-two;
    }
  }
}

.header__social-media-link {
  border-radius: 40%;
  background-color: $white-three;
  margin: 3px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialMediaIcon {
  height: 30px;
  width: 30px;
  padding: 2px;
  margin: 3px;
}

.socialMediaText {
  display: none;
}

/* ====HEADER AND NAV BAR RESPONSIVENESS==== */

@media screen and (max-width: 800px) {
  #header__login-button,
  #header__social-button {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }

  /* All Actual Links and Icons in Login Menu: no display */
  .header__login-container > a,
  .header__social-container > a {
    display: none;
  }

  .header__menu-container {
    align-items: center;
    padding: 0;
    margin-right: 5px;
    width: 10%;
  }

  /* State of Elements in Menu when clicked */

  /* Menu */
  .header__login-container.responsive,
  .header__social-container.responsiveSocial {
    display: block;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    z-index: 15;
    position: relative;
    background-color: $black-color;
    padding: 5px;
    border-radius: $border-radius-normal;
    font-size: 32px;
  }

  /* Links in menus */
  .header__login-container.responsive,
  .header__social-container.responsiveSocial {
      > a {
      display: flex;
      width: 100%;
      padding: 5px;
      justify-content: center;

      &:hover {
        background-color: $white-two;
        color: $black-color;
      }
    }
  }

  .header__login-container a:hover {
    background-color: $white-two;
    color: $black-color;
  }

  .header__social-container.responsiveSocial .header__social-media-link {
    margin: 10px 0;
    border-radius: 0;
    background-color: transparent;
  }
  
  .header__social-container.responsiveSocial .socialMediaIcon {
    display: none;
  }

  .header__social-container.responsiveSocial .socialMediaText {
    display: block;
    margin: 10px 0;
    padding: 0;
  }

  /* X Button */
  .header__login-container.responsive #header__login-button #header__close-login-icon,
  .header__social-container.responsiveSocial #header__social-button #header__close-social-icon {
    display: block;
  }

  /* Open menu button and Icon Links = no display */
  .header__login-container.responsive #header__login-button #header__open-login-icon,
  .header__login-container.responsive > a > i,
  .header__social-container.responsiveSocial #header__social-button #header__open-social-icon {
    display: none;
  }

  /* Position Menus above all items in top center */

  body {
    position: relative;
  }
  
  .header__menu-container.responsive,
  .header__menu-container.responsiveSocial {
    position: absolute;
    top: 0;
    left: 10%;
    padding: 0;
    width: 80%;
  }
}

@media screen and (max-width: 400px) {
  .header__menu-container {
    width: 15%;
    margin: 0;
  }

  .header__menu-container.responsive,
  .header__menu-container.responsiveSocial {
    font-size: 32;
  }

  #header__open-login-icon,
  #header__open-social-icon {
    font-size: 24px;
  }
}