@import '_variables';
@import 'landing';

* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}

html {
  font: normal 16px san-serif;
  color: hsl(42, 15%, 13%);
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: hsl(40, 23%, 97%);
  display: block;
}

nav, ul {
  list-style: none;
}

p {
  line-height: 1.5rem;
  hyphens: auto;
}

h4 {
  hyphens: auto;
}

a {
  text-decoration: none;
  color: inherit;
}