@import '_variables';

.nav-container__close-menu-button {
  font-size: 42px;
  order: -2;
  display: none;
}

.nav-container__open-menu-button {
  display: none;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: $white-five;
  position: sticky;
  top: 0;
  z-index: 5;
  padding: 3px 5%;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white-two;
  background-color: $white-five;
  z-index: 10;
}

.nav-list li,
.search-bar {
  margin: 0 5px;
  font-weight: bold;
}

.nav-container__nav-list-item {
  position: relative;
  display: inline-block;
  padding: 3px 0;

  > a {
    padding: 0 3px;

    &:hover {
      text-decoration: underline;
      color: $blue-one;
    }
  }
}

.nav-list-item-link-container {
  position: absolute;
  width: max-content;
  background-color: $white-four;
  border-radius: $border-radius-normal;
  z-index: 1000;
  padding: 0 5px;
  display: none;
  margin-top: 3px;

  a {
    display: block;
    margin: 10px 5px;
    padding: 5px;
    color: $black-color;
    font-weight: bold;
    border-radius: $border-radius-normal;
  }
}

.nav-container__nav-list-item:hover .nav-list-item-link-container {
  display: block;
}

.nav-container__nav-list-item > a,
.search-icon {
  color: $black-color
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
}

.search-bar {
  display: flex;
  justify-content: center;
  border-radius: $border-radius-normal;
  border: 1px solid $black-color;
  margin: 0;

  input {
    border-radius: 2px;
    border: none;
    padding: 0 5px;
  }
}

/* ===NAV BAR RESPONSIVENESS=== */

@media screen and (max-width: 750px) {
  .nav-container__open-menu-button {
    display: block;
    font-size: 28px;
    color: $black-color;
  }

  .nav-list {
    justify-content: space-between;
  }

  .nav-container__nav-list-item {
    display: none;
  }

  .search-bar {
    border: none;
  }

  .search-icon {
    width: 31px;
  }

  /* Navbar Responsiveness */

  .nav-list.responsive {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: $white-two;
    width: 100%;
    background-color: $black-color;
    padding: 5px;
  }

  .nav-list.responsive .nav-container__close-menu-button {
    display: block;
  }

  .nav-list.responsive .nav-container__open-menu-button {
    display: none;
  }

  .nav-list.responsive .nav-container__nav-list-item,
  .nav-list.responsive .search-bar {
    padding: 5px;
    width: 100%;
  }

  .nav-list.responsive .nav-container__nav-list-item {
    display: flex;
    margin: 0;
  }

  .nav-list.responsive .search-bar {
    order: -1;
    margin: 0;
    justify-content: flex-start;

    input {
      width: 70%;
    }
  }

  .nav-list.responsive .nav-container__nav-list-item > a {
    width: 100%;
    font-size: 32px;
    color: $white-one;
    width: 31px;
  }

  .nav-list.responsive .nav-container__nav-list-item .nav-list-item-link-container {
    width: 70%;
    background-color: $gray-four;
    top: 0;
    right: 0;

    a {
      display: block;
      color: $white-one;
      font-size: 24px;
    }
  }
}