@import '_variables';

.newsShowContainer {
  width: 40%;
  display: grid;
  padding-bottom: 20px;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: 
    "image image" "title title" "subtitle subtitle" "body body";
}

.newsShowContainerLong {
  grid-template-rows: auto auto auto;
  grid-template-areas: 
    "image title" "image subtitle" "body body";
}

.newsShowImgContainer {
  width: 100%;
  padding-bottom: 20px;
  grid-area: image;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.newsShowContainerLong .newsShowImgContainer {
  justify-content: flex-start;
  padding-right: 10px;
}

.newsShowImgContainer > img{
  max-width: 100%;
  object-fit: scale-down;
}

.newsShowContainerLong > div > img{
  max-width: 100%;
  object-fit: scale-down;
  max-height: 100%;
}

.titleContainer {
  width: 100%;
  grid-area: title;
}

.subtitleContainer {
  width: 100%;
  grid-area: subtitle;
}

.titleContainer *,
.subtitleContainer * {
  padding-bottom: 20px;
}

.newsShowBody {
  width: 100%;
  text-indent: 15px;
  grid-area: body;
  margin-bottom: 20px;
}

.newsShowSection > a {
  align-self: flex-start;
  margin-left: 30%;
}

/* NEWS SHOW REPSONSIVENESS */

@media screen and (max-width: 1100px) {
  .newsShowContainerLong {
    grid-template-areas: 
      "image title" "subtitle subtitle" "body body";
  }
}

@media screen and (max-width: 900px) {
  .newsShowContainer {
    width: 70%;
  }

  .newsShowContainerLong {
    grid-template-areas: 
      "image title" "image subtitle" "body body";
  }

  .newsShowSection > a {
    align-self: flex-start;
    margin-left: 15%;
  }
}

@media screen and (max-width: 700px) {
  .newsShowContainer {
    width: 90%;
  }

  .newsShowSection > a {
    align-self: flex-start;
    margin-left: 5%;
  }
}

@media screen and (max-width: 500px) {
  .newsShowContainerLong {
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
      "image image" "title title" "subtitle subtitle" "body body";
  }
  

  .newsShowContainerLong > div > img {
    max-height: none;
    max-width: none;
    width: 100%;
  }
}