@import '_variables';

.news-show__container {
  width: 40%;
  display: grid;
  padding-bottom: 20px;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: 
    "image image" "title title" "subtitle subtitle" "body body";
}

.news-show__container-long {
  grid-template-rows: auto auto auto;
  grid-template-areas: 
    "image title" "image subtitle" "body body";

  > div > img {
    max-width: 100%;
    object-fit: scale-down;
    max-height: 100%;
  }
}

.news-show__image-container {
  width: 100%;
  padding-bottom: 20px;
  grid-area: image;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  > img {
    max-width: 100%;
    object-fit: scale-down;
  }
}

.news-show__container-long .news-show__image-container {
  justify-content: flex-start;
  padding-right: 10px;
}

.news-show__title {
  width: 100%;
  grid-area: title;
}

.news-show__subtitle {
  width: 100%;
  grid-area: subtitle;
}

.news-show__title *,
.news-show__subtitle * {
  padding-bottom: 20px;
}

.news-show__body {
  width: 100%;
  text-indent: 15px;
  grid-area: body;
  margin-bottom: 20px;
}

.news-show__all-news-button {
  align-self: flex-start;
  margin-left: 30%;
}

/* NEWS SHOW REPSONSIVENESS */

@media screen and (max-width: 1100px) {
  .news-show__container-long {
    grid-template-areas: 
      "image title" "subtitle subtitle" "body body";
  }
}

@media screen and (max-width: 900px) {
  .news-show__container {
    width: 70%;
  }

  .news-show__container-long {
    grid-template-areas: 
      "image title" "image subtitle" "body body";
  }

  .news-show__all-news-button {
    align-self: flex-start;
    margin-left: 15%;
  }
}

@media screen and (max-width: 700px) {
  .news-show__container {
    width: 90%;
  }

  .news-show__all-news-button {
    align-self: flex-start;
    margin-left: 5%;
  }
}

@media screen and (max-width: 500px) {
  .news-show__container-long {
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
      "image image" "title title" "subtitle subtitle" "body body";

    > div > img {
      max-height: none;
      max-width: none;
      width: 100%;
    }
  }
}