@import "_variables";

.newsletter-subscribe > p {
  padding-bottom: 40px;
  max-width: 90%;
}

.subscribe-input-container {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 40px;
  justify-content: center;
  align-items: flex-end;
  box-shadow: 0 2px 2px $white-four;
  border-radius: $border-radius-normal;
  margin-bottom: 20px;
}

.subscribe-input {
  height: 100%;
  border-radius: 8px 0 0 8px;
  text-indent: 10px;
  flex: 1 1 75%;
  border: 1px solid $red-two;

  &::placeholder {
    text-indent: 10px;
  }
}


.subscribe-button {
  height: 100%;
  background-color: $red-two;
  color: $white-one;
  border-radius: 0 8px 8px 0;
  border: none;
  font-size: 20px;
  flex: 1 1 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ===Newsletter Responsiveness=== */

@media screen and (max-width: 650px) {
  .subscribe-input-container {
    width: 80%;
  }
}

@media screen and (max-width: 400px) {
  .subscribe-input-container {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    box-shadow: none;
  }

  .subscribe-input {
    max-height: 30%;
    width: 100%;
    border-radius: $border-radius-normal;
  }

  .subscribe-button {
    max-height: 30%;
    width: 50%;
    border-radius: $border-radius-normal;
    box-shadow: 0 2px 2px .5px $white-five;
    transform: translatey(-2px);

    &:hover {
      box-shadow: 0 1px 1px $white-five;
      transform: translatey(-1px);
    }

    &:active {
      box-shadow: 0 0 0 $white-five;
      transform: translatey(0px);
    }
  }
}