@import '_variables';

.report p {
  width: 50%;
  padding-bottom: 40px;
}

.report-btn {
  background-color:$yellow-one;
  border-radius: $border-radius-normal;
  color: $black-color;
  padding: 10px 20px;
  font-size: 20px;
  box-shadow: 0 4px 4px 1px $gray-one;
  transform: translatey(-4px);

  &:hover {
    box-shadow: 0 2px 2px $gray-one;
    transform: translatey(-2px);
  }

  &:active {
    box-shadow: 0 0 0 $gray-one;
    transform: translatey(0);
  }
}

/* ===Report Section Responsiveness=== */

@media screen and (max-width: 750px) {
  .report p {
    width: 90%;
  }
}